{% extends 'index.html' %}
{% load i18n %}{% load static %}
{% block content %}
  {% if not perms.archive.view_person %}
    {% include  'archive/snippets/error_no_access.html' with object_type='people' %}
  {% elif person.is_deleted %}
    {% include  'archive/snippets/error_object_deleted.html' with object_type='person' %}
  {% else %}
    <section class="object person">
      <header>
        <h2>{{ person.full_name }}</h2>
      </header>
      <!-- Portrait -->
      <div class="column left">
        {% if person.portrait %}
          <a href="{% url 'archive:image-redirect' person.portrait.id %}"><img src="/documents/{{ person.portrait.source }}"></a>
        {% endif %}
      </div>
      <!-- Collected data -->
      <dl class="data column right">
        <!-- Action List-->
        <ul class="action list no-bullets text-end">
          {% if perms.archive.change_person %}
            <li><a href="{% url 'archive:person-edit' person.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'edit'|capfirst %} {% translate 'person details' %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#pencil"/></svg></a></li>
            {% if user.is_staff %}<li><a href="/admin/archive/person/{{ person.id }}/change/" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'edit'|capfirst %} {% translate 'image' %} {% translate 'in admin' %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#pencil-square"/></svg></a></li>{% endif %}
          {% endif %}
        </ul>
        {% if person.related_user %}
          <dt>&nbsp;</dt><dd>{% translate 'is'|capfirst %} {% if person.related_user.is_superuser %}{% translate 'manager' %}{% else %}{% translate 'user' %}{% endif %} {% translate 'of this website' %}</dd>
        {% endif %}
        {% if person.bio %}
          <dt>{% translate 'biography'|capfirst %}:</dt><dd>{{ person.bio|markdown|safe }}</dd>
        {% endif %}
        {% if person.nickname %}
          <dt>{% translate 'nickname'|capfirst %}:</dt><dd>{{ person.nickname }}</dd>
        {% endif %}
        <dt>{% translate 'first names'|capfirst %}:</dt><dd>{{ person.first_names }}{% if person.given_name %} ({{ person.given_name }}){% endif %}</dd>
        <dt>{% translate 'last name'|capfirst %}:</dt><dd>{% if person.married_name %}<a href="{% url 'archive:people' %}?family={{ person.married_name }}">{{ person.married_name }}</a> ({% translate 'born' %}: <a href="{% url 'archive:people' %}?family={{ person.last_name }}">{{ person.last_name }}</a>){% else %}<a href="{% url 'archive:people' %}?family={{ person.last_name }}">{{ person.last_name }}</a>{% endif %}</dd>
        {% if person.year_of_birth or person.month_of_birth or person_day_of_birth or person.place_of_birth %}
          <dt>{% translate 'born'|capfirst %}:</dt><dd>{{ person.day_of_birth|default:'?' }}-{{ person.month_of_birth|default:'?' }}-{{ person.year_of_birth|default:'?' }} {% if person.place_of_birth %}te {{ person.place_of_birth }}{% endif %}</dd>
        {% endif %}
        {% if person.year_of_death or person.month_of_death or person_day_of_death or moment_of_death_unconfirmed or person.place_of_death %}
          <dt>{% translate 'died'|capfirst %}:</dt><dd>{{ person.day_of_death|default:'?' }}-{{ person.month_of_death|default:'?' }}-{{ person.year_of_death|default:'?' }} {% if person.place_of_death %}te {{ person.place_of_death }}{% endif %}{% if person.ageatdeath %} ({{ person.ageatdeath }}){% endif %}</dd>
        {% endif %}
        {% if person.get_parents %}
          <dt>{% translate 'parent'|capfirst %}:</dt>
          <dd>
            {% for person in person.get_parents %}
              {% include 'archive/snippets/person_link.html' %}{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
            </dd>
        {% endif %}
        <!-- Broer(s) en Zus(sen) -->
        {% if person.get_siblings %}
          <dt>{% blocktranslate count counter=person.get_siblings|length  %}Brother/Sister{% plural %}Brothers/Sisters{% endblocktranslate %}:</dt>
          <dd>
            {% for person in person.get_siblings %}
            {% include 'archive/snippets/person_link.html' %}{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
          </dd>
        {% endif %}
        <!-- Partners -->
        {% if person.get_partners %}
          <dt>{% translate 'partner'|capfirst %}{% if person.get_partners|length > 1 %}s{% endif %}:</dt>
          <dd>
            {% for person in person.get_partners %}
            {% include 'archive/snippets/person_link.html' %}{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
          </dd>
        {% endif %}
        <!-- Kinderen -->
        {% if person.get_children %}
          <dt>{% blocktranslate count counter=person.get_children|length %}Child{% plural %}Children{% endblocktranslate %}:</dt>
          <dd>
            {% for person in person.get_children %}
            {% include 'archive/snippets/person_link.html' %}{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
          </dd>
        {% endif %}
        {% if not person.private %}
          <dt>&nbsp;</dt>
            <dd><a href="{% url 'archive:tree' person.id %}">{% translate 'See family tree of'%} {{ person.full_name }}</a></dd>
        {% endif %}
      </dl>
      <!-- Related data -->
      {% if not person.private and person.images.all.count > 0 %}
        <a name="images"></a>
        <h3>{{ count_images }} {% blocktranslate count counter=count_images %}Image{% plural %}Images{% endblocktranslate %} {% translate 'with' %} {{ person.full_name }}:</h3>
        {% include 'archive/snippets/toggle_hidden_images.html' %}
        <!-- Pagination -->
        {% include 'archive/snippets/pagination.html' with focus='images' %}
        <div class="objects">
          {% for object in image_list.all %}
            {% include 'archive/snippets/image.html' %}
          {% endfor %}
        </div>
        <!-- Pagination -->
        {% include 'archive/snippets/pagination.html' %}
      {% endif %}
      <div class="clearfix"></div>
    </section>
  {% endif %}
{% endblock %}