{% extends 'index.html' %}

{% block content %}
  {% if not perms.archive.change_person %}
    {% include  'archive/snippets/error_no_access.html' with object_type='people' %}
  {% else %}
    <header>
      <h2>{% if person %}{{ person.first_names }} {{ person.last_name }}{% else %}{% translate 'new'|capfirst %} {% translate 'person' %}:{% endif %}</h2>
      {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
    </header>
    <div class="edit note">
      <form method="post" class="note">
        {% csrf_token %}
        <dl>
          {% if form.non_field_errors %}
            <dt>Fout(en)</dt>
              <dd>{{ form.non_field_errors }}</dd>
          {% endif %}
          <dt><label for="{{ form.first_names.id_for_label }}">{% translate 'name'|capfirst %}:</label></dt>
            <dd>
              {{ form.first_names }}
              {% if form.first_name.errors %}<p>{{ form.first_names.errors }}</p>{% endif %}
            </dd>
          <dt><label for="{{ form.given_name.id_for_label }}">{% translate 'given name'|capfirst %}:</label></dt>
            <dd>
              {{ form.given_name }}
              {% if form.given_name.errors %}<p>{{ form.given_name.errors }}</p>{% endif %}
            </dd>
          <dt><label for="{{ form.last_name.id_for_label }}">{% translate 'last name'|capfirst %}:</label></dt>
            <dd>
              {{ form.last_name }}
              {% if form.last_name.errors %}<p>{{ form.last_name.errors }}</p>{% endif %}
              <p>{% translate 'last name'|capfirst %} {% translate 'at birth' %}</p>
            </dd>
          <dt><label for="{{ form.married_name.id_for_label }}">{% translate 'married name'|capfirst %}:</label></dt>
            <dd>
              {{ form.married_name }}
              {% if form.married_name.errors %}<p>{{ form.married_name.errors }}</p>{% endif %}
              <p>{% translate 'Last name of partner, indien taken' %}</p>
            </dd>
          <dt><label for="{{ form.nickname.id_for_label }}">{% translate 'nickname'|capfirst %}:</label></dt>
            <dd>
              {{ form.nickname }}
              {% if form.nickname.errors %}<p>{{ form.nickname.errors }}</p>{% endif %}
            </dd>
          <dt>{% translate 'gender'|capfirst %}</dt>
            <dd class="gender">
                {{ form.gender }}
            </dd>
          <dt><label for="{{ form.bio.id_for_label }}">{% translate 'biography'|capfirst %}:</label></dt>
            <dd>
              {{ form.bio }}
              {% if form.bio.errors %}<p>{{ form.bio.errors }}</p>{% endif %}
            </dd>
          <dd>&nbsp;</dd>
            <dt>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="{{ form.private.name }}" id="{{ form.private.id_for_label }}" {% if form.private.value %}checked{% endif %}>
                <label class="form-check-label" for="flexSwitchCheckDefault">{% translate 'privacy mode'|capfirst %}</label> (Privacy mode hides more information of this person)
              </div>
            </dt>
          <dt>&nbsp;</dt>
            <dd><input type="submit" class="btn btn-success" value="Verstuur wijzigingen"></dd>
        </dl>
      </form>
    </div>
    <!-- Meta information -->
    <hr>
    {% include 'archive/snippets/object_metadata.html' with object=person %}
  {% endif %}
{% endblock %}