{% extends 'index.html' %}
{% load i18n %}

{% block content %}
  {% if not perms.archive.change_person %}
    {% include  'archive/snippets/error_no_access.html' with object_type='people' %}
  {% else %}
    <header>
      <h2>{% if person %}{{ person.first_name }} {{ person.last_name }}{% else %}{% translate 'new'|capfirst %} {% translate 'person' %}:{% endif %}</h2>
      {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
    </header>
    <div class="edit note">
      <form method="post" class="note">
        {% csrf_token %}
        <dl>
          {% if form.non_field_errors %}
            <dt>Fout(en)</dt>
              <dd>{{ form.non_field_errors }}</dd>
          {% endif %}
          <dt><label for="{{ form.first_name.id_for_label }}">{% translate 'nickname'|capfirst %}:</label></dt>
            <dd>
              {{ form.first_name }}
              {% if form.first_name.errors %}<p>{{ form.first_name.errors }}</p>{% endif %}
            </dd>
          <dt><label for="{{ form.given_names.id_for_label }}">{% translate 'first name'|capfirst %}:</label></dt>
            <dd>
              {{ form.given_names }}
              {% if form.given_names.errors %}<p>{{ form.given_names.errors }}</p>{% endif %}
            </dd>
          <dt><label for="{{ form.last_name.id_for_label }}">{% translate 'last name'|capfirst %}:</label></dt>
            <dd>
              {{ form.last_name }}
              {% if form.last_name.errors %}<p>{{ form.last_name.errors }}</p>{% endif %}
              <p>{% translate 'first name'|capfirst %} {% translate 'at birth' %}</p>
            </dd>
          <dt><label for="{{ form.married_name.id_for_label }}">{% translate 'married name'|capfirst %}:</label></dt>
            <dd>
              {{ form.married_name }}
              {% if form.married_name.errors %}<p>{{ form.married_name.errors }}</p>{% endif %}
              <p>{% translate 'Last name of partner, indien taken' %}</p>
            </dd>
          <dt><label for="{{ form.nickname.id_for_label }}">{% translate 'nickname'|capfirst %}:</label></dt>
            <dd>
              {{ form.nickname }}
              {% if form.nickname.errors %}<p>{{ form.nickname.errors }}</p>{% endif %}
            </dd>
          <dt>{% translate 'gender'|capfirst %}</dt>
            <dd class="gender">
                {{ form.gender }}
            </dd>
          <dt>{% translate 'born'|capfirst %}:</dt>
            <dd class="date">
              {{ form.day_of_birth }}
              {{ form.month_of_birth }}
              {{ form.year_of_birth }}
              <br>
              {{ form.place_of_birth }}
              {% if form.day_of_birth.errors or form.month_of_birth.errors or form.year_of_birth.errors or form.place_of_birth.errors %}
                <p>
                  {{ form.day_of_birth.errors }}
                  {{ form.month_of_birth.errors }}
                  {{ form.year_of_birth.errors }}
                  {{ form.place_of_birth.errors }}
                </p>
              {% endif %}
            </dd>
          <dt>{% translate 'died'|capfirst %}:</dt>
            <dd class="date">
              {{ form.day_of_death }}
              {{ form.month_of_death }}
              {{ form.year_of_death }}
              <br>
              {{ form.place_of_death }}
              {% if not form.year_of_death.value %}
                <label for="{{ form.moment_of_death_unconfirmed.id_for_label }}">{% translate 'Died, but exact moment of death unknown' %}:</label>
                {{ form.moment_of_death_unconfirmed }}
              {% endif %}
              {% if form.day_of_death.errors or form.month_of_death.errors or form.year_of_death.errors or form.place_of_death.errors %}
                <p>
                  {{ form.day_of_death.errors }}
                  {{ form.month_of_death.errors }}
                  {{ form.year_of_death.errors }}
                  {{ form.place_of_death.errors }}
                </p>
              {% endif %}
            </dd>
          <dt><label for="{{ form.bio.id_for_label }}">{% translate 'biography'|capfirst %}:</label></dt>
            <dd>
              {{ form.bio }}
              {% if form.bio.errors %}<p>{{ form.bio.errors }}</p>{% endif %}
            </dd>
          <dd>&nbsp;</dd>
            <dt>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="{{ form.private.name }}" id="{{ form.private.id_for_label }}" {% if form.private.value %}checked{% endif %}>
                <label class="form-check-label" for="flexSwitchCheckDefault">{% translate 'privacy mode'|capfirst %}</label> (Privacy mode hides more information of this person)
              </div>
            </dt>
          <dt>&nbsp;</dt>
            <dd><input type="submit" value="Verstuur wijzigingen"></dd>
        </dl>
      </form>
      {% if person %}
        <hr>
        <!-- Family Relations -->
        <form>
          <dl>
            {% with me=person %}
              {% if person.get_parents %}
              <dt>{% blocktranslate count counter=person.get_parents|length %}Parent{% plural %}Parents{% endblocktranslate %}:</dt>
              <dd>
                {% for person in person.get_parents %}
                  {% include 'archive/snippets/person_link.html' %} 
                  <a href="{% url 'archive:remove-relationship' me.id 'parent' person.id %}" title="Remove relationship" data-bs-toggle="tooltip" data-bs-placement="top">[x]</a>
                  {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
                </dd>
              {% endif %}
              <!-- Partners -->
              {% if person.get_partners %}
                <dt>{% translate 'partner'|capfirst %}:</dt>
                <dd>
                  {% for person in person.get_partners %}
                  {% include 'archive/snippets/person_link.html' %} 
                  <a href="{% url 'archive:remove-relationship' me.id 'partner' person.id %}" title="Remove relationship" data-bs-toggle="tooltip" data-bs-placement="top">[x]</a>
                  {% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                </dd>
              {% endif %}
              <!-- Broer(s) en Zus(sen) -->
              {% if person.get_siblings %}
                <dt>{% blocktranslate count counter=person.get_siblings|length  %}Brother/Sister{% plural %}Brothers/Sisters{% endblocktranslate %}:</dt>
                <dd>
                  {% for person in person.get_siblings %}
                  {% include 'archive/snippets/person_link.html' %}{% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                </dd>
              {% endif %}
              <!-- Kinderen -->
              {% if person.get_children %}
                <dt>{% blocktranslate count counter=person.get_children|length %}Child{% plural %}Children{% endblocktranslate %}:</dt>
                <dd>
                  {% for person in person.get_children %}
                  {% include 'archive/snippets/person_link.html' %} 
                  <a href="{% url 'archive:remove-relationship' me.id 'child' person.id %}" title="Remove relationship" data-bs-toggle="tooltip" data-bs-placement="top">[x]</a>
                  {% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                </dd>
              {% endif %}
            {% endwith %}
          </dl>
        </form>
        <form method="post" action="{% url 'archive:add-relationship' %}">
          <dl>
            <dt>{% translate 'Add relation' %}:</dt>
              <dd>
                {% csrf_token %}
                <input type="hidden" name="subject" value="{{ person.id }}">
                <select name="type"><option value="parent">{% translate 'parent'|capfirst %}</option><option value="child">{% translate 'child'|capfirst %}</option><option value="sibling">{% translate 'sibling'|capfirst %}</option><option value="partner">{% translate 'partner'|capfirst %}</option></select>
                <select name="person">
                  {% for person in available_relations %}
                    <option value="{{ person.id }}">{{ person }}</option>
                  {% endfor %}
                </select>
              </dd>
            <dt>&nbsp;</dt>
              <dd><input type="submit" value="{% translate 'Add relation' %}"></dd>
          </dl>
        </form>
      {% endif %}
    </div>
    <!-- Meta information -->
    <hr>
    {% include 'archive/snippets/object_metadata.html' with object=person %}
  {% endif %}
{% endblock %}