{% extends 'index.html' %}

{% block content %}
  <header>
    <h2>Personen:</h2>
    {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
  </header>
  {% if not people %}
    ERROR: No people to be shown
  {% endif %}
  {% if perms.archive.view_person %}
    <div class="people objects">
<!-- Filters 
     Each filter has its own form, to avoid cluttering the url arguments.
     That means that each filter requires hidden form fields if that option is selected.
  -->
      <div class="filters">
        <!-- Filter Images Only With image -->
        <span class="option">
          <form method="get">
            {% with current='has_photo' %}
              {% for key, value in filters.items %}
                {% if value and key != current %}
                  <input type="hidden" name="{{ key }}" value="{{ value }}">
                {% endif %}
              {% endfor %}
            {% endwith %}
            <label for="has_photo">Met afbeelding</label><input type="checkbox" name="has_photo" value="true" {% if filters.has_photo %} checked{% endif %} onchange="this.form.submit()">
          </form>
        </span>
        <!-- Filter Families -->
        <span class="option">
          <form method="get">
            {% with current='family' %}
              {% for key, value in filters.items %}
                {% if value and key != current %}
                  <input type="hidden" name="{{ key }}" value="{{ value }}">
                {% endif %}
              {% endfor %}
            {% endwith %}
            {% if available_families|length > 1 %}
              <label for="family">Familie: </label>
              <select name="family" onchange="this.form.submit()">
                <option value="all">-----</option>
                {% for family in available_families %}
                  <option value="{{ family }}" {% if filters.family == family %} selected{% endif %}>{{ family }}</option>
                {% endfor %}
              </select>
            {% endif %}
          </form>
        </span>
        <!-- Decade filtering -->
        {% if not filters.years and not filters.century and available_decades|length > 1%}
          <span class="option">
            <form method="get">
              {% with current='decade' %}
              {% for key, value in filters.items %}
                {% if value and key != current %}
                  <input type="hidden" name="{{ key }}" value="{{ value }}">
                {% endif %}
              {% endfor %}
            {% endwith %}
            <label for="decade">Decennium: </label>
              <select name="decade" onchange="this.form.submit()">
                <option value="all">-----</option>
                {% for decade in available_decades %}
                  <option value="{{ decade }}"{% if decade == filters.decade %} selected{% endif %}>{{ decade }}</option>
                {% endfor %}
              </select>
            </form>
          </span>
        {% endif %}
        <!-- Century filtering -->
        {% if not filters.years and not filters.decade and available_centuries|length > 1 %}
          <span class="option">
            <form method="get">
              {% with current='century' %}
              {% for key, value in filters.items %}
                {% if value and key != current %}
                  <input type="hidden" name="{{ key }}" value="{{ value }}">
                {% endif %}
              {% endfor %}
            {% endwith %}
              <label for="century">Eeuw: </label>
              <select name="century" onchange="this.form.submit()">
                <option value="all">-----</option>
                {% for century in available_centuries %}
                  <option value="{{ century }}"{% if century == filters.century %} selected{% endif %}>{{ century }}</option>
                {% endfor %}
              </select>
            </form>
          </span>
        {% endif %}
      </div>

<!-- People -->
      {% for person in people %}
        {% if forloop.first %}
          <h5>{{ person.last_name }}</h5>
          <ul class="people no-bullets" id="{{ person.last_name }}>
        {% endif %}
        {% ifchanged person.last_name %}
          </ul>
          <h5>{{ person.last_name }}</h5>
          <ul class="people no-bullets" id="{{ person.last_name }}">
        {% endifchanged %}
        <li>
          {% include 'archive/snippets/person_link.html' %}
        </li>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}