body {
  /** Text */
  font-family: var(--site-font-family, 'sans-serif');
  color: var(--colour-dark, black);
  /* Background */
  background-color: var(--site-background-color, white);
  background-image: var(--site-background-image);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/** Links */
a {
  color: var(--colour-dark);
  text-decoration-color: var(--colour-highlight);
}
a:hover {
  color: var(--colour-dark);
  background-color: var(--colour-light);
  text-decoration: underline;
}
/** lists */
ul.no-bullets {
  list-style-type: none;
  padding-left: 0;
}
/** Headers */
h1, h2, h3, h4, h5, h6 {
  background-color: var(--colour-dark);
  color: var(--colour-light);
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--colour-light);
  text-decoration: none;
}
h1:hover:has(a), h1:hover a, h1 a:hover,
h2:hover:has(a), h2:hover a, h2 a:hover,
h3:hover:has(a), h3:hover a, h3 a:hover,
h4:hover:has(a), h4:hover a, h4 a:hover,
h5:hover:has(a), h5:hover a, h5 a:hover,
h6:hover:has(a), h6:hover a, h6 a:hover {
  background-color: var(--colour-light);
  color: var(--colour-dark);
  text-decoration: none;
}
  /** Page header */
  body > header {
    margin: 0;
    padding: 0 !important;
  }
  body > header > h1 {
    margin: 0;
    padding: 1.5em 1em 0 1em;
    width: 100%;
    min-height: 3em;
  }
  body > header > h1::before {
    content: var(--header-text-before);
  }
  /** Page Navigation */
  body > nav {
    padding: 0 2em;
  }

/** Content sizes */
  /** 1 Column layout */
  .object {
    width: 100%;
  }
  .objects > .object {
    width: 95%;
  }
  /** 2 Column layout */
  @media (min-width: 802px) {
    .container, container-md, container-sm {
      max-width: 802px !important;
      min-width: 800px !important;
    }
    .objects > .object { 
      width: var(--object-width);
    }
  }
  /** 3 column layout */
  @media (min-width: 1200px) { 
    .container, container-md, container-sm {
      /**max-width: 1203px !important;**/
      min-width: calc((var(--object-width) * 3.14)) !important;
    }
  }
  /** 4 column layout */
  media (min-width: 1600px) { 
    .container, container-md, container-sm {
      /** max-width: 1604px !important; */
      width: calc((var(--object-width) * 4.2)) !important;
    }
  }
/** Container */
  .container {
    margin: 1em auto;
    border: var(--wrapper-border);
    background-color: var(--wrapper-background);
    padding: 0;
  }
  .container > header > div,
  .container > section > p {
    margin: 0 1em;
  }

/** Objects */
  .objects {
    margin: 1em 0;
    padding: 0 15px;
  }
  .object {
    border: var(--object-border);
    display: inline-block;
    vertical-align: top;
    padding: 0;
    min-height: 275px;
    margin-bottom: 15px;
    overflow: hidden;
  }
  .object.hidden {
    border: var(--object-border-hidden, 3px dashed rgba(0,0,0,0.5));
  }
  .object > a:hover, .object *:not(h2) a:hover {
    background-color: var(--colour-highlight);
  }
  .container > header > h2,
  .object > header > h2,
  .object > h3
   {
    padding: 0.2em 1em;
  }
  .object > h2 > span,
  .object > header > h2 > span {
    font-size: 0.35em;
    vertical-align: middle;
    margin-right: 1em;
  }
  .object > h2 > a {
    font-size: 0.75em;
  }
  .object > .column {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1em;
  }
  .objects > .object > .column {
    margin-bottom: 0;
  }
    .object > .column.left {
      width: 39%;
      overflow: hidden;
    }
      .object > .column.left > a > img {
        max-width: 100%;
      }
    .object > .column.right {
      width: 58%;
    }
      .objects > .object > .column > h1,
      .objects > .object > .column > h2,
      .objects > .object > .column > h3,
      .objects > .object > .column > h4,
      .objects > .object > .column > h5,
      .objects > .object > .column > h6 {
        font-size: 1em;
        font-weight: bold;
        background-color: transparent;
        color: var(--colour-dark)
      }
/* pagination */
  nav.pagination * a {
    color: var(--colour-dark);
  }
  .pagination > .active > a
  {
    background-color: var(--colour-light, navy) !important;
    border-color: var(--colour-highlight, navy) !important;
  }
  .pagination > * > a:hover {
    color: var(--colour-dark, navy) !important;    
  }
  
  .comment {
    display: inline-block; 
    width: 90%; 
    vertical-align: top;
    border: var(--object-border);
    margin-bottom: 15px;
  }
  .comment h4 {
    background-color: var(--colour-dark);
    color: var(--colour-light);
    font-size: 1em;
    padding: 3px;
  }