
{% load static %}
{% if ajax.editable and perms.archive.change_image %}

{% endif %}
<div class="d-flex">
  <div class="flex-grow-1">
    <!-- Love -->
    <div id="love">
      {% include 'field/image/love.html' with image=image metadata=metadata ajax=ajax %}
    </div>
    <!-- Stored Image Dimensions-->
    {% if metadata.dimensions.width or metadata.dimensions.height or ajax.editable %}
      <div class="d-flex py-1">
        <div class="col">
          <img src="{% static 'img/bootstrap-icons/info-circle.svg' %}" alt="{% translate 'information' %}" title="{% translate 'image dimensions'|capfirst %}" data-bs-toggle="tooltip" data-bs-placement="left">
          {{ metadata.dimensions.width|default:"unknown width" }}x{{ metadata.dimensions.height|default:"unknown height" }} pixels
        </div>
      </div>
    {% endif %}
    <!-- Stored Original Image Size-->
    {% if metadata.extention or metadata.size or ajax.editable %}
      <div class="d-flex py-1">
        <div class="col">
          <img src="{% static 'img/bootstrap-icons/info-circle.svg' %}" alt="{% translate 'information' %}" title="{% translate 'original image size'|capfirst %}" data-bs-toggle="tooltip" data-bs-placement="left"> {{ metadata.extension|default:"unknown extension" }}, {{ metadata.size|default:"unknown size" }}
        </div>
      </div>
    {% endif %}
    <!-- Visibility -->
    <div id="visibility_frontpage">
      {% include 'field/image/visibility_frontpage.html' with image=image ajax=ajax %}
    </div>
    <div id="visibility_person_page">
      {% include 'field/image/visibility_person_page.html' with image=image ajax=ajax %}
    </div>
    <!-- Attachments -->
     <div id="attachments">
      {% include 'field/image/attachments.html' with image=image metadata=metadata ajax=ajax %}
    </div>
    
    <!-- Uploaded By User -->
    <div id="user">
      {% include 'field/image/user.html' with image=image metadata=metadata ajax=ajax %}
    </div>
  </div>
  <div class="ms-3 d-flex flex-column align-items-end justify-content-start flex-shrink-0">
    {% include 'element/reusable_edit_column.html' with object_name='image' object=image field='metadata' no_save=True %}
  </div>
</div>
{% if ajax.editable and perms.archive.change_image %}
  </form>
{% endif %}
<div class="spacer my-3"></div>