{% load static %}
{% if ajax.timeline %}
  <div class="col-md-12 mb-3 mb-md-0">
    <div class="timeline">
      {% for event in person.timeline %}
        {% include 'function/person_event.html' with event=event person=person %}
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="row align-items-start">
    <div class="col-md-4 text-center mb-3 mb-md-0">
      <!-- No Image, left empty for alignment -->
    </div>
    <!-- CONTENT COLUMN -->
    <div class="col-md-8">
      <a data-action 
      data-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'person' person.id person.slug 'timeline'%}"
      data-params="timeline"
      data-map='{"timeline": "#timeline"}'
      >{% translate 'view full timeline'|capfirst %}</a>
    </div>
  </div>
{% endif %}