{% load static %}
<div class="d-flex">
  <div class="flex-grow-1"> 
    <!-- No dates available -->
     {% if not person.birth and not person.death and not ajax.editable %}
      <div class="d-flex py-1">
        <div class="col-4 col-sm-3 text-muted small text-uppercase fw-semibold">{% translate 'life'|capfirst %}:</div>
        <div class="col">
          <div class="text-muted">{% translate 'no birth or death information available'|capfirst %}</div>
        </div>
      </div>
    {% endif %}
    <!-- Birth -->
    <div id="date_of_birth">
      {% include 'function/person_get_date_of_birth.html' %}
    </div>
    <!-- Death -->
    <div id="date_of_death">
      {% include 'function/person_get_date_of_death.html' %}
    </div>
  </div>
  
  <div class="ms-3 d-flex flex-column align-items-end justify-content-start flex-shrink-0">
      {% include 'element/reusable_edit_column.html' with object_name='person' object=person field='dates' no_save='true'%}
    </div>
</div>