{% load static %}
<div class="timeline-item {% if person in event.people.all %}personal left{% else %}related right{% endif %} {{ event.type }}">
    <div class="date">{{ event.date|date:"d M Y" }}</div>
    <div class="content">
      <!-- Header-->
      <strong>
        {% if event.type == 'birth' or event.type == 'death' %}
          {% translate event.type|capfirst %} {% translate 'of' %} {% for person in event.people.all %}{% include 'field/person/name.html' with person=person %}{% if not forloop.last %}, {% endif %}{% endfor %}
          {% if person not in event.people.all %}
            {% for p in event.people.all %}
              {% if p in person.parents %}({% if p.gender == 'f' %}{% translate 'mother' %}{% elif p.gender == 'm' %}{% translate 'father' %}{% else %}{% translate 'parent' %}{% endif %}){% endif %}
              {% if p in person.siblings %}({% translate 'sibling' %}){% endif %}
              {% if p in person.children %}({% translate 'child' %}){% endif %}
              {% if p in person.partners %}({% translate 'partner' %}){% endif %}
              {% if event.type == 'death' or event.type == 'marriage' %}{% with age=event.date|calc_age:p.birth %}{% if age > 0%}({{ age }}){% endif %}{% endwith %}{% endif %}
            {% endfor %}
          {% endif %}
        {% elif event.type == 'marriage' %} 
          {% translate event.type|capfirst %}{% if event.people.all.count > 1%} {% translate 'with' %} {% for person in event.people.all|without:person %}{% include 'field/person/name.html' with person=person %}{% if person.birth %} ({{ event.date|calc_age:person.birth.date }}){% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}.
        {% else %}
          {{ event.title }}
        {% endif %} 
      </strong>
      <p>
        {% for location in event.locations.all %}
          {{ location.name }}{% if not forloop.last %}, {% else %}.{% endif %}
        {% endfor %}
        {% with age=event.date|calc_age:person.birth %}{% if age > 0 %}<span class="text-muted">({% if person not in event.people.all %}{{ person.given_name|default:person.first_names }} was {% endif %}{{ age }} {% translate 'years old' %})</span>{% endif %}{% endwith %}
      </p>
      {% if event.description%}
        <p >{{ event.description|markdown|safe }}</p>
      {% endif %}
      {% if event.images.count > 0 %}
        {% for image in event.images.all %}
          <a href="{% url 'archive:image' image.slug %}" title="{{ image.title }}" bs-tooltip="true" data-bs-placement="top">
            <img src="{% static 'img/bootstrap-icons/image.svg' %}" alt="{{ image.title }}">
          </a>
        {% endfor %}
      {% endif %}
    </div>
  </div>