{% load static%}  
{% if person.death or ajax.editable %}
  <div class="d-flex py-1">
    <div class="col-4 col-sm-3 text-muted small text-uppercase fw-semibold">{% translate 'died'|capfirst %}:</div>
    <div class="col">
      {% if ajax.editable %}
        <!-- Date --> 
        <form id="date_of_death_form"
              data-action
              data-method="POST"
              {% if person.death %}
                data-url="{% url 'cmnsd:dispatch_object_by_id_and_slug' 'event' person.death.id person.death.token %}"
              {% else %}
                data-url="{% url 'cmnsd:dispatch' 'events' %}"
              {% endif %}
              data-refresh-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'person' person.id person.slug 'get_date_of_death' %}?editable" 
              data-refresh-map='{"get_date_of_death":"#date_of_death"}'>
          {% if not person.death %}
            <input type="hidden" name="type" value="{{ event.type|default:'death' }}">
            <input type="hidden" name="user__id" value="{{ event.user.id|default:user.id }}">
            <input type="hidden" name="people__id" value="{{ person.id }}">
          {% endif %}
          <input type="hidden" name="editable" value="true">
          <div class="input-group">
            <span class="input-group-text">{% translate 'date'|capfirst %}:</span>
            <input type="number" class="form-control" name="day" value="{{ person.death.day }}" min="1" max="31">
            <select class="form-select" name="month">
              <option value="" {% if not person.death.month %}selected{% endif %}>--</option>
              {% for month in person.months %}
                <option value="{{ month.0 }}" {% if person.death.month == month.0 %}selected{% endif %}>{{ month.1 }}</option>
              {% endfor %}
            </select>
            <input type="number" class="form-control" name="year" value="{{ person.get_date_of_death.year }}">
            <button class="btn btn-outline-success" 
                        type="submit" 
                        title="{% translate 'save'|capfirst %} {% translate field|capfirst %}"
                        >
              <img src="{% static 'img/bootstrap-icons/floppy.svg' %}" alt="{% translate 'save'|capfirst %}">
            </button>
          </div>
          <div class="input-group">
            <span class="input-group-text">{% translate 'place'|capfirst %}:</span>
            {% if person.death.locations.all.count > 0 %}
              <span class="input-group-text">{{ person.death.locations.last|truncatechars:47 }}</span>
              <button type="submit" 
                      class="btn btn-outline-danger remove-related-object"
                      title="{% translate 'remove'|capfirst %} {% translate 'place'|capfirst %}"
                      data-action
                      data-method="POST"
                      data-url="{% url 'cmnsd:dispatch_object_by_id_and_slug' 'event' person.death.id person.death.token %}"
                      data-body='{"locations__id":"{{ person.death.locations.last.id }}","locations__token":"{{ person.death.locations.last.token }}"}'
                      data-refresh-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'person' person.id person.slug 'get_date_of_death' %}"
                      data-refresh-params='{"editable":"{{ ajax.editable }}"}'
                      data-refresh-map='{"get_date_of_death":"#date_of_death"}'
                      data-allow-empty="true"
                      >
                <img src="{% static 'img/bootstrap-icons/x.svg' %}" alt="{% translate 'remove'|capfirst %}">
              </button>
            {% else %}
              <input  type="text" 
                      class="form-control" 
                      placeholder="{% translate 'start typing to search for a place'|capfirst %}"
                      data-autosuggest
                      data-url="{% url 'cmnsd:dispatch' 'locations' %}?format=json"
                      data-param="{{ search_query_character|default:'q' }}"
                      data-field-input="name"
                      data-field-hidden="slug"
                      data-field-prefix="locations__"
                      data-display-fields="name, description"
                      data-container="location"
              >
            {% endif %}
          </div>
          <textarea class="form-control" name="description" data-auto-resize placeholder="{% translate 'description'|capfirst %}">{% if person.death %}{{ person.death.description|default:'' }}{% endif %}</textarea> 
        </form>
        <!-- Location -->
          <form
            data-action
            data-method="POST"
            {% if person.death.locations.all.count == 0 %}
              data-url="{% url 'cmnsd:dispatch_object_by_id_and_slug' 'event' person.death.id person.death.token %}"
            {% else %}
              data-url="{% url 'cmnsd:dispatch' 'events' %}"
              data-params='{"type":"death","user__id":"{{ user.id }}","people__id":"{{ person.id }}"}'
            {% endif %}
            data-refresh-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'person' person.id person.slug 'get_date_of_death' %}"
            data-refresh-params='{"editable":"{{ ajax.editable }}"}'
            data-refresh-map='{"get_date_of_death":"#date_of_death"}'
          >
          
        </form>
      {% else %}
        {% if person.death.weekday %}{% translate person.death.weekday|default:""|capfirst %} {% endif %}
        {{ person.death.day|default:'' }} {% if person.death.month %}{% translate person.death.get_month_display|default:'' %} {% endif %}{{ person.death.year|default:'' }} 
        {% if person.death.locations.all.count > 0 %}{% translate 'in' %} {% for location in person.death.locations.all %}<a href="{% url 'archive:locations' %}?name={{ location.name }}">{{ location.get_display_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
        {% if person.death and person.birth %}{% with age=person.death.date|calc_age:person.birth.date %}{% if age and age > 0 %}<span class="text-muted">({{age}})</span>{% endif %}{% endwith %}{% endif %}
        {% if person.death and person.death.description %}
          <div class="text-muted small">{{ person.death.description|markdown|safe}}</div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endif %}
