{% load static %}
<div class="timeline-item {% if not event %}left {% elif person in event.people.all %}personal left{% else %}related right{% endif %} {{ event.type }}{% if ajax.editable %} editable{% endif %}">
  <!-- Date div - appears in timeline line -->
   <div class="date">
    {% if event %}
      {{ event.date|date:"d M Y" }}
    {% else %}
      {% translate 'add event'|truncatechars:11 %}
    {% endif %}
    </div>
  {% if editable or ajax.editable %}
    <div class="editable-content">
      <form
        data-action
        {% if event %}
          data-url = "{% url 'cmnsd:dispatch_object_by_id_and_slug' 'event' event.id event.token %}"
          data-refresh-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'person' person.id person.slug 'events' %}"
          data-refresh-params='{"editable": "true", "id":"{{ event.id }}","token":"{{ event.token }}"}'
          data-refresh-map='{"events": "#event-{{ event.id }}"}'
        {% else %}
          data-url = "{% url 'cmnsd:dispatch' 'event' %}"
          data-refresh-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'person' person.id person.slug 'timeline'%}"
          data-refresh-params="timeline"
          data-refresh-map='{"timeline": "#timeline"}'
        {% endif %}
        
        data-autosuggest-allow-empty="1"
      >
        <input type="hidden" name="event__id" value="{{ event.id }}">
        <input type="hidden" name="event__token" value="{{ event.token }}">
        <!-- Date Inputs -->
        {% if event.type == 'birth' or event.type == 'death' %}
          <strong>
            {% translate event.type %}
            {% translate 'of' %}
            {{ person.full_name }}
            {% translate 'on' %}
            {{ event.date|date:"d M Y" }}
            {% if event.locations.all.count > 0 %}
              {% translate 'at' %}
              {% for loc in event.locations.all %}
                {{ loc }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            {% endif %}
          </strong>
        {% else %}
          <div class="input-group input-group-sm">
            <input type="number" name="day" class="form-control" value="{{ event.day }}" min="1" max="31" placeholder="{% translate 'day'|capfirst %}">
            <select name="month" class="form-select w-auto flex-grow-0">
              <option value="">--{% translate 'month'|capfirst %}--</option>
              {% for month in person.months %}
                <option value="{{ month.0 }}" {% if event.month == month.0 %}selected{% endif %}>{% translate month.1|capfirst %}</option>
              {% endfor %}
            </select>
            <input type="number" name="year" class="form-control" value="{{ event.year }}" min="{% if person.birth %}{{ person.birth.year }}{% else %}1400{% endif %}" max="{% if person.death %}{{ person.death.year }}{% else %}{% now "Y" %}{% endif %}" placeholder="{% translate 'year'|capfirst %}" {% if event.type != 'birth' and event.type != 'death' %}required{% endif %}>
          </div>
          <!-- Type and Title-->
          <div class="input-group input-group-sm">
            <select name="type" 
                    class="form-select w-auto flex-grow-0"
                    data-toggle-target="#event-{{ event.id }}-title"
                    data-toggle-value="other"
            >
              {% if event or not person.birth %}<option value="birth" {% if event.type == 'birth' %}selected{% endif %}>{% translate 'birth'|capfirst %}</option>{% endif %}
              {% if event or not person.death %}<option value="death" {% if event.type == 'death' %}selected{% endif %}>{% translate 'death'|capfirst %}</option>{% endif %}
              <option value="marriage" {% if event.type == 'marriage' %}selected{% endif %}>{% translate 'marriage'|capfirst %}</option>
              <option value="other" {% if event.type == 'other' %}selected{% endif %}>{% translate 'other'|capfirst %}</option>
            </select>
            <input type="text" name="title" id="event-{{ event.id }}-title" class="form-control" value="{{ event.title }}" placeholder="{% translate 'Event Title' %}">
          </div>
          <!-- Description-->
          <div class="input-group input-group-sm">
            <textarea data-autoresize name="description" class="form-control" placeholder="{% translate 'event description'|capfirst %}">{{ event.description|default:''}}</textarea>
          </div>
          <!-- People -->
          {% if not event %}
            <div class="input-group input-group-sm">
              <span class="input-group-text">{% translate 'people'|capfirst %}:</span>
                <span class="input-group-text">{{ person.short_name }}</span>
              </span>
              <input type="hidden" name="people__id" value="{{ person.id }}">
              <input type="hidden" name="people__slug" value="{{ person.slug }}">
            </div>
          {% elif event.people.all.count > 0 %}
            <div class="input-group input-group-sm">
              <span class="input-group-text">{% translate 'people'|capfirst %}:</span>
              {% for p in event.people.all %}
                <span class="input-group-text">{{ p.short_name }}</span>
                <button type="button" 
                        class="btn btn-outline-danger btn-sm remove-person" 
                        data-action 
                        {% if event %}
                          data-url="{% url 'cmnsd:dispatch_object_by_id_and_slug' 'event' event.id event.token %}"
                        {% else %}
                          data-url="{% url 'cmnsd:dispatch' 'event' %}"
                        {% endif %}
                        data-params='{"people__id":"{{ p.id }}","people__slug":"{{ p.slug }}"}'
                        data-refresh-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'person' person.id person.slug 'events' %}"
                        data-refresh-params='{"editable":"true","id":"{{ event.id }}","token":"{{ event.token }}"}'
                        data-refresh-map='{"events": "#event-{{ event.id }}"}'
                        >&times;</button>
              {% endfor %}
            </div>
          {% endif %}
          {% if event %}
            <div class="input-group input-group-sm">
              <span class="input-group-text">{% translate 'add person'|capfirst %}:</span>
              <input  type="text" 
                        class="form-control" 
                        placeholder="{% translate 'start typing...'|capfirst %}"
                        data-autosuggest
                        data-url="{% url 'cmnsd:dispatch' 'people' %}?format=json"
                        data-param="{{ search_query_character|default:'q' }}"
                        data-field-input="full_name"
                        data-field-hidden="slug"
                        data-field-prefix="people__"
                        data-display-fields="full_name, lifespan"
                        data-container="person"
                        data-allow-create="0"
                >
            </div>
          {% endif %}
          <!-- Location -->
          {% if event.locations.all.count > 0 %}
            <div class="input-group input-group-sm mt-2">
              <span class="input-group-text">{% translate 'locations'|capfirst %}:</span>
              {% for location in event.locations.all %}
                <span class="input-group-text">{{ location.name }}</span>
                <button type="button" 
                        class="btn btn-outline-danger btn-sm remove-location" 
                        data-action 
                        data-url="{% url 'cmnsd:dispatch_object_by_id_and_slug' 'event' event.id event.token %}"
                        data-params='{"locations__id":"{{ location.id }}","locations__slug":"{{ location.slug }}"}'
                        data-refresh-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'person' person.id person.slug 'events' %}"
                        data-refresh-params='{"editable":"true","id":"{{ event.id }}","token":"{{ event.token }}"}'
                        data-refresh-map='{"events": "#event-{{ event.id }}"}'
                        >&times;</button>
              {% endfor %}
            </div>
          {% endif %}
          <div class="input-group input-group-sm">
            <span class="input-group-text">{% translate 'add location'|capfirst %}:</span>
            <input  type="text" 
                      class="form-control" 
                      placeholder="{% translate 'start typing...'|capfirst %}"
                      data-autosuggest
                      data-url="{% url 'cmnsd:dispatch' 'locations' %}?format=json"
                      data-param="{{ search_query_character|default:'q' }}"
                      data-field-input="name"
                      data-field-hidden="slug"
                      data-field-prefix="locations__"
                      data-display-fields="name, description"
                      data-container="location"
                      data-allow-empty="1"
              >
          </div>
        {% endif %}
        <!-- Proof / Images -->
        {% if event.images.all.count > 0 %}
          <div class="input-group input-group-sm">
            <span class="input-group-text">{% translate 'images'|capfirst %}:</span>
            {% for image in event.images.all %}
              <span class="input-group-text">{{ image.title }}</span>
              <button type="button" 
                      class="btn btn-outline-danger btn-sm remove-image" 
                      data-action 
                      data-url="{% url 'cmnsd:dispatch_object_by_id_and_slug' 'event' event.id event.token %}"
                      data-params='{"images__id":"{{ image.id }}","images__slug":"{{ image.slug }}"}'
                      data-refresh-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'person' person.id person.slug 'events' %}"
                      data-refresh-params='{"editable":"true","id":"{{ event.id }}","token":"{{ event.token }}"}'
                      data-refresh-map='{"events": "#event-{{ event.id }}"}'
                      >&times;</button>
            {% endfor %}
          </div>
        {% endif %}
        <div class="input-group input-group-sm">
          <span class="input-group-text">{% translate 'add image'|capfirst %}:</span>
          <input  type="text" 
                    class="form-control" 
                    placeholder="{% translate 'start typing...'|capfirst %}"
                    data-autosuggest
                    data-url="{% url 'cmnsd:dispatch' 'images' %}?format=json"
                    data-param="{{ search_query_character|default:'q' }}"
                    data-field-input="title"
                    data-field-hidden="slug"
                    data-field-prefix="images__"
                    data-display-fields="title, description"
                    data-container="image"
                    data-allow-empty="1"
            >
        </div>
        
        <!-- Action List -->
        <div class="event-actions d-flex gap-2 mt-2">
            {% if perms.archive.change_event %}
            <button type="submit" class="btn btn-sm btn-success-outline" 
                title="{% translate 'save event'|capfirst %}"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
            >
              <img src="{% static 'img/bootstrap-icons/save.svg' %}" alt="{% translate 'Save' %}">
            </button>
          {% endif %}
          {% if event %}
            <button title="{% translate 'stop editing event'|capfirst %}" class="btn btn-sm btn-warning-outline" 
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                data-action
                data-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'person' person.id person.slug 'events' %}"
                data-params='{"id":"{{ event.id }}","token":"{{ event.token }}"}'
                data-map='{"events": "#event-{{ event.id }}"}'
              ><img src="{% static 'img/bootstrap-icons/x.svg' %}" alt="{% translate 'Edit' %}">
            </button>
          {% endif %}
        </div>
      </form>
    </div>
  {% else %} 
    <!-- DISPLAY VERSION - NON-EDITABLE -->
    <div class="content">
      <!-- Header of event-->
      <strong>
        <!-- Event Type or Title-->
        {% if event.show_type %}
          {% if event.type == 'birth' %}* {% elif event.type == 'death' %}&dagger; {% endif %}{% translate event.type|capfirst %}
          {% if event.people.all.count > 0 %}
            {% if event.type == 'birth' or event.type == 'death' %}
              {% translate 'of' %}
              {% for p in event.people.all %}
                {% if p == person %}
                  {{ p.full_name }}
                {% else %}
                  <a href="{% url 'archive:person' p.id p.slug %}">{{ p.full_name }}</a>
                {% endif %}
                {% if not forloop.last %}, {% endif %}
              {% endfor %}
            {% elif event.people.all|without:person|length > 0 %}
              {% translate 'with' %}
              {% for p in event.people.all|without:person %}
                <a href="{% url 'archive:person' p.id p.slug %}">{{ p.full_name }}</a>
                {% if event.type == 'death' or event.type == 'marriage' %}{% with age=event.date|calc_age:p.birth %}{% if age > 0%}<span class="text-muted">({{ age }})</span>{% endif %}{% endwith %}{% endif %}
                {% if not forloop.last %}, {% endif %}
              {% endfor %}
            {% endif %}
          {% endif %}
        {% else %}
          {{ event.title }}
        {% endif %}
      </strong>
      <!-- Add people to other and general events -->
      {% if event.type == 'other' or event.type == 'general' %}
        {% if event.people.all|without:person|length > 0 %}
          {% translate 'with' %}
          {% for p in event.people.all|without:person %}
            <a href="{% url 'archive:person' p.id p.slug %}">{{ p.full_name }}</a>
            {% with age=event.date|calc_age:p.birth %}{% if age > 0%}<span class="text-muted">({{ age }})</span>{% endif %}{% endwith %}
            {% if not forloop.last %}, {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
      <!-- Relationship Reference -->
      {% if person not in event.people.all %}
        <span class="text-muted">
          {% for p in event.people.all %}
            {% if p in person.parents %}({% if p.gender == 'f' %}{% translate 'mother' %}{% elif p.gender == 'm' %}{% translate 'father' %}{% else %}{% translate 'parent' %}{% endif %}){% endif %}
            {% if p in person.siblings %}({% translate 'sibling' %}){% endif %}
            {% if p in person.children %}({% translate 'child' %}){% endif %}
            {% if p in person.partners %}({% translate 'partner' %}){% endif %}
            {% if event.type == 'death' or event.type == 'marriage' %}{% with age=event.date|calc_age:p.birth %}{% if age > 0%}({{ age }}){% endif %}{% endwith %}{% endif %}
          {% endfor %}
        </span>
      {% endif %}
      <!-- Location Reference -->
        {% if event.locations.all.count > 0 %}
        <div class="location-reference">
          {% translate 'at'|capfirst %}
          {% for loc in event.locations.all %}
            <a href="{% url 'archive:locations' %}?name={{ loc.name }}">{{ loc }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <!-- Parental Reference -->
      {% if event.type == 'birth' and event.people.first.parents|length > 0 %}
        <div class="parental-reference">
          {% if event.people.first.gender == 'm' %}{% translate 'son'|capfirst %}{% elif event.people.first.gender == 'f' %}{% translate 'daughter'|capfirst %}{% endif %}
          {% if person in event.people.first.parents %}
            {% translate 'with' %}
          {% else %}
            {% translate 'of' %}
          {% endif %}
          {% for p in event.people.first.parents %}
            {% if p != person %}
              <a href="{% url 'archive:person' p.id p.slug %}">{{ p.short_name }}</a>{% if not forloop.last %}, {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <!-- description -->
      {% if event.description %}
        <p>{{ event.description|markdown|safe }}</p>
      {% endif %}
      <!-- Subject Age -->
      {% with age=event.date|calc_age:person.birth %}
        {% if age > 0 %}
          <div class="subject-age text-muted"><small>
            {{ person.given_name|default:person.first_names }} was {{ age }} {% translate 'years old' %}.
          </small></div>
        {% endif %}
      {% endwith %}
      <!-- Images -->
      {% if event.images.all.count > 0 %}
        <div class="event-images">
          {% for image in event.images.all %}
            <a href="{% url 'archive:image' image.slug %}" title="{{ image.title }}" bs-tooltip="true" data-bs-placement="top">
              <img src="/documents/{{ image.source }}" alt="{{ image.alt_text }}" class="img-thumbnail">
            </a>
          {% endfor %}
        </div>
      {% endif %}
      <!-- Action List -->
      <div class="event-actions d-flex gap-2 mt-2">
        {% if perms.archive.change_event %}
          {% if ajax.editable %}
          {% elif person in event.people.all %}
            <a title="{% translate 'edit event'|capfirst %}"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                data-action
                data-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'person' person.id person.slug 'events' %}"
                data-params='{"editable":"true","id":"{{ event.id }}","token":"{{ event.token }}"}'
                data-map='{"events": "#event-{{ event.id }}"}'
              ><img src="{% static 'img/bootstrap-icons/pencil.svg' %}" alt="{% translate 'Edit' %}">
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>
