SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=yourdomain.com,localhost
CSRF_TRUSTED_ORIGINS=https://yourdomain.com
DATABASE_URL=sqlite:///db.sqlite3
# DATABASE_URL=postgres://user:password@localhost/dbname
WEBSITE_TITLE=Coomans' Family Archive
META_DESCRIPTION=An archive with photos and documents of the Coomans, Bake and ancestors families.
MASTER_CSS=fmly.css
FAMILIES=Coomans,Bake
