# Ignore Python files
*.pyc
*~
*.bak
__pycache__

# Keep database outside repo
*.sqlite3
# Keep settings file outside repo
settings.py
family/urls.py

# Keep statics and uploads outside repo
/public/static
/public/documents/*
/public/documents/files/*
# Keep logs outside repo
/logs
/gunicorn
/run

# Keep mac-folders outside repo
.DS_Store

#/family/settings.py
auth.md

# Development
old_*
dev_*