{% extends 'index.html' %}
{% load i18n %}

{% block content %}
  {% if not perms.archive.view_note %}
    {% include  'archive/snippets/error_no_access.html' with object_type='notes' %}
  {% else %}
    <header>
      <h2>{{ note.title }}</h2>
      {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
      {% if note.people.all.count > 0 %}{% endif %}
        <ul class="metadata no-bullets">
          {% for person in note.people.all %}
            <li class="bi bi-person-fill"> {% include 'archive/snippets/person_link.html' %}</li>
          {% endfor %}
        </ul>
      {% if note.tags.all.count > 0 %}
        <ul class="metadata no-bullets">
          {% for tag in note.tags.all %}
            {% include 'archive/snippets/tag.html' %}
          {% endfor %}
        </ul>
      {% endif %}
      <ul class="metadata">
        <li class="bi bi-pencil-fill"> <a href="{% url 'archive:note-edit' note.id %}">{% translate 'edit'|capfirst %} {% translate 'note' %}</a></li> 
      </ul>
    </header>
    {% if perms.archive.view_note %}
      <hr>
      <div class="note">
        {{ note.content|markdown|safe }}
      </div>
      <hr>
      {% include 'archive/snippets/object_metadata.html' with object=note %}</div>
    {% endif %}
  {% endif %}
{% endblock %}