{% extends 'index.html' %}
{% load i18n %}

{% block content %}
  {% if not perms.archive.change_note %}
    {% include  'archive/snippets/error_no_access.html' with object_type='notes' %}
  {% else %}
    <header>
      <h2>{{ note.title|default:'Nieuwe notitie' }}:</h2>
      {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
    </header>
    <div class="edit note">
      <form method="post" class="note">
        {% include 'archive/snippets/form_basic.html'%}
      </form>
    </div>
    <!-- Meta information -->
    <hr>
    {% include 'archive/snippets/object_metadata.html' with object=note %}</div>
  {% endif %}
{% endblock %}