{% extends 'index.html' %}

{% block content %}
  <header>
    <h2>{{ note.title }}</h2>
    {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
  </header>
  {% if perms.archive.view_note %}
    <div class="edit note">
      <form method="post" class="note">
        {% csrf_token %}
        <dl>
          {% for field in form %}
            <dt>{{ field.label_tag }}</dt>
              <dd>
                {{ field }}
                {% if field.erros %}{{ field.errors }}{% endif %}
              </dd>
          {% endfor %}
          <dt>&nbsp;</dt>
            <dd><input type="submit" value="Verstuur wijzigingen"></dd>
        </dl>
      </form>
    </div>
    <!-- Meta information -->
    <hr>
    <div class="meta">
      <ul class="metadata no-bullets">
        <li>Door: {{ note.user }}</li>
        <li>Aangemaakt: {{ note.date_created}}</li>
        {% if note.date_created != note.date_modified %}<li>Voor het laatst aangepast: {{ note.date_modified }}</li>{% endif %}
      </ul>
    </div>
  {% endif %}
{% endblock %}