{% extends 'index.html' %}
{% load i18n %}

{% block content %}
  <header>
    <h2>{{ note.title|default:'Nieuwe notitie' }}:</h2>
    {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
  </header>
  {% if perms.archive.view_note %}
    <div class="edit note">
      <form method="post" class="note">
        {% csrf_token %}
        <dl>
          {% for field in form %}
            <dt>{{ field.label_tag }}</dt>
              <dd>
                {{ field }}
                {% if field.erros %}{{ field.errors }}{% endif %}
              </dd>
          {% endfor %}
          <dt>&nbsp;</dt>
            <dd><input type="submit" value="{% translate 'submit changes'%}"></dd>
        </dl>
      </form>
    </div>
    <!-- Meta information -->
    <hr>
    {% include 'archive/snippets/object_metadata.html' with object=note %}</div>
  {% endif %}
{% endblock %}