{% extends 'index.html' %}
{% load i18n %}

{% block content %}
  <header>
    <h2>{% translate 'Notes' %}:</h2>
    {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
  </header>
  {% if not note_list %}
  <div class="alert alert-danger" role="alert">
    {% translate 'An error occurred' %}: {% translate 'there are no '%} {% translate 'notes'|lower %} {% translate 'available' %}.
  </div>
  {% endif %}
  {% if perms.archive.view_note %}
    <div class="objects">
      <ul class="no-bullets">
        {% for note in note_list %}
          <li><a href="{% url 'archive:note-with-name' note.id note.title|slugify %}">{{ note.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}