{% load markdown_extras %}
{% load filename %}

<div class="document details">
  <!-- description -->
  {% if image.description %}
    {% if compact %}{{ image.description|default:'-'|markdown|safe|truncatewords_html:10 }}{% else %}{{ image.description|default:'-'|markdown|safe }}{% endif %}
  {% endif %}
  <!-- related -->
  <ul class="related has-icons">
    <!-- Hidden from index -->
    {% if not compact and not image.show_in_index %}
      <li class="info info-icon" title="Deze bijlage wordt niet getoond op de beginpagina">Verborgen</li>
    {% endif %}
    <!-- source -->
    {% if not compact and image.document_source %}
      <li class="source source-icon">{% if image.document_source|truncatechars:5 == "http…" %}<a href="{{ image.document_source }}" target="_blank" title="{{ image.document_source }}">{{ image.document_source|truncatechars:38 }}</a>{% else %}{{ image.document_source }}{% endif %}</li>
    {% endif %}
    <!-- date -->
    {% if image.date or image.year %}
      <li class="date date-icon"><a href="{% url 'archive:images-by-year' image.year %}" title="Bekijk documenten uit het decennium waar {{ image.year }} in valt">{% if image.date %}{{ image.date|date:'d/m/Y' }}{% elif image.year %}{{ image.year }}{% endif %}</a></li>
    {% endif %}
    <!-- people -->
    {% if perms.archive.view_person or preview %}
      {% if image.people.all %}
        {% if not compact or image.people.all.count < 6 %}
          {% for person in image.people.all %}
            <li class="person person-icon"><a href="{% url 'archive:person' person.id person.name %}" title="Bekijk documenten met {{ person.full_name }}">{{ person.name }}</a></li>
          {% endfor %}
        {% else %}
          {% for person in image.people.all %}
            {% if forloop.counter < compact %}
              <li class="person person-icon"><a href="{% url 'archive:person' person.id person.name %}" title="Bekijk documenten met {{ person.full_name }}">{{ person.name }}</a></li>
            {% elif forloop.counter == compact %}
              <li class="person person-icon"><a href="{% url 'archive:image' image.id image.title|default:'needs-a-title'|slugify %}">... en {{ forloop.revcounter }} meer</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endif %}
    <!-- tags -->
    {% if perms.archive.view_tag or preview %}
      {% if compact and image.tag.all.count > 5 %}
        {% for tag in image.tag.all %}
          {% if forloop.counter < compact %}
            <li class="tag tag-icon"><a href="{% url 'archive:tag' tag.slug %}" title="Bekijk documenten getagged met {{ tag.title|title|safe }}">{{ tag.title|title }}</a></li>
          {% elif forloop.counter == compact %}
          <li class="tag tag-icon">... en {{ forloop.revcounter }} meer</li>
          {% endif %}
        {% endfor %}
      {% else %}
        {% for tag in image.tag.all %}
          <li class="tag tag-icon"><a href="{% url 'archive:tag' tag.slug %}" title="Bekijk documenten getagged met {{ tag.title|title|safe }}">{{ tag.title|title }}</a>
            {% if not compact and tag.notes.all %}
              <ul class="related has-icons">
                {% for note in tag.notes.all %}
                  <li class="note note-icon"><a href="{% url 'archive:note' note.id %}">{{ note.title}}</a></li>
                  {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      {% endif %}
    {% endif %}
    <!-- file size -->
    {% if not compact and image.source %}
      <li class="info info-icon">{{ image.source.size|filesizeformat }}{% if image.source|imagedimensions %} ({{ image.source|imagedimensions }} pixels){% endif %}</li>
    {% endif %}
    {% if not compact %}
      <li class="info info-icon">Gedeeld door: {% if image.user.first_name or image.user.last_name %}{{ image.user.first_name }} {{ image.user.last_name }}{% else %}{{ image.user.username }}{% endif %}</li>
    {% endif %}
    <!-- comments -->
    {% if perms.archive.view_comment or preview %}
      {% if image.comments.all %}
        <li class="comment comment{% if image.comments.all.count > 1 %}s{% endif %}-icon"><a href="{% url 'archive:image' image.id image.title|default:'needs-a-title'|slugify %}">{{ image.comments.all.count }} reactie{% if image.comments.all.count > 1 %}s{% endif %}</a></li>
      {% endif %}
    {% endif %}
    <!-- Grouped images -->
    {% if perms.archive.view_group or preview %}
      {% if image.in_group.all %}
        {% for group in image.in_group.all %}
          {% if group.images.all.count > 2 %}
            <li class="info-icon">Groep {{ group.title }} ({{ group.images.all.count }}):
              <ul class="has-icons">
                {% for group_image in group.images.all %}
                  {% if not compact or image.images.all.count < 4 %}
                    {% if not group_image == image %}
                      <li class="image image-icon"><a href="{% url 'archive:image' group_image.id group_image.title|default:'needs-a-title'|slugify%}" title="Bekijk {{ group_image.title }}{% if group_image.year %} ({{ group_image.year }}){% endif %}">{% if compact %}{{ group_image.title|truncatechars:18 }}{% else %}{{ group_image.title }}{% endif %}</a></li>
                    {% endif %}
                  {% else %}
                    {% if forloop.counter < compact %}
                      {% if not group_image == image %}
                        <li class="image image-icon"><a href="{% url 'archive:image' group_image.id group_image.title|default:'needs-a-title'|slugify%}" title="Bekijk {{ group_image.title|safe }}{% if group_image.year %} ({{ group_image.year }}){% endif %}">{% if compact %}{{ group_image.title|truncatechars:18 }}{% else %}{{ group_image.title }}{% endif %}</a></li>
                      {% endif %}
                    {% elif forloop.counter == compact %}
                      <li class="image image-icon">...</li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
    <!-- Attachments -->
    {% if image.attachments.all %}
      {% if compact %}
        <li class="attachment attachment-icon">{{ image.attachments.count }} bijlage{% if image.attachments.count > 1 %}n{% endif %}</li>
      {% else %}
        {% for attachment in image.attachments.all reversed %}
          <li class="attachment attachment-icon"><a href="/documents/{{ attachment.file }}" title="{{ attachment.desciption }}" target="_blank">{{ attachment.desciption|truncatechars:52 }}</a></li>
        {% endfor %}
      {% endif %}
    {% endif %}
  </ul>
</div>