{% extends 'index.html' %}
{% load static %}

{% block content %}
  {% if not perms.archive.view_location %}
    {% include  'archive/snippets/error_no_access.html' with object_type='locations' %}
  {% else %}
    <header>
      <h2>{% translate 'locations' %}:</h2>
      {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
    </header>
    
    <section class="objects container" id="locations">
      {% include 'model/locations.html' with locations=location_list %}
    </section>
  {% endif %}
{% endblock %}

{% block footer %}

{% endblock %}