{% extends 'index.html' %}
{% load static %}

{% block content %}
  {% if not perms.archive.view_location %}
    {% include  'archive/snippets/error_no_access.html' with object_type='locations' %}
  {% else %}
    <header>
      <h2>{% translate 'locations' %}:</h2>
      {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
    </header>
    
    <section class="objects">
      <ul>
        {% for location in location_list.all %}
          {% ifchanged location.parent.parent.name %}
            </ul>
            <h3>{{ location.parent.parent.get_display_name }}</h3>
            <ul>
          {% endifchanged %}
          {% ifchanged location.parent.name %}
            </ul>
            <h4>{{ location.parent.get_display_name }}</h4>
            <ul>
          {% endifchanged %}
          <li>
            {{ location.get_display_name }}
            <ul>
              {% if location.get_alternatives.count > 0 %}
                <li>{% translate 'also known as'|capfirst %}: {% for alternative in location.get_alternatives %}<a href="{% url 'archive:locations' %}?name={{ alternative.name }}">{{ alternative.get_display_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</li>
              {% endif %}
              {% for person in location.get_event_people %}
                <li>
                  {{ person }} {%if location in person.birth.locations.all %}({% translate 'born here'|capfirst %}){% endif %}{% if location in person.death.locations.all %} ({% translate 'died here'|capfirst %}){% endif %}
                </li>
              {% endfor %}
              
            </ul>
          </li>
        {% endfor %}
      </ul>
    </section> 
    
  {% endif %}
{% endblock %}

{% block footer %}

{% endblock %}