{% extends "index.html" %}

{% block pagetitle %}{{ page_scope|default:'alle documenten' }}{% endblock %}

{% block css %}{% endblock %}

{% block content %}
  <div class="content-block node documents">
    <header>
      <h2>Overzicht van {{ page_scope|default:'alle personen' }} ({{ person_list.all.count }}):</h2>
      {% if page_navigation %}<p class="page-description">{{ page_navigation|safe }}</p>{% endif %}
      {{ page_description }}
      <!-- {{ dev }}
      {{ filter }} -->
      <div class="filters">
        <span class="option">
          {% if filter.has_photo %}
            <a href="?{% if filter.century %}century={{ filter.century }}{% elif filter.decade %}decade={{ filter.decade }}{% elif filter.year %}year={{ filter.year }}{% endif %}">Met of zonder foto</a>
          {% else %}
            <a href="?{% if filter.century %}century={{ filter.century }}&{% elif filter.decade %}decade={{ filter.decade }}&{% elif filter.year %}year={{ filter.year }}&{% endif %}has_photo=true">Heeft foto</a>
          {% endif %}
        </span>
        {% if not filter.years and not filter.century %}
          <span class="option">
            <form method="get" action="{% if filter.has_photo %}?has_photo=true{% endif %}">
              {% if filter.has_photo %}<input type="hidden" name="has_photo" value="true">{% endif %}
              <label for="decade">Decennium: </label>
              <select name="decade" onchange="this.form.submit()">
                <option value="none">-----</option>
                {% for decade in available_decades %}
                  <option value="{{ decade }}"{% if decade == filter.decade %} selected{% endif %}>{{ decade }}</option>
                {% endfor %}
              </select>
            </form>
          </span>
        {% endif %}
        {% if not filter.years and not filter.decade %}
          <span class="option">
            <form method="get" action="{% if filter.has_photo %}?has_photo=true{% endif %}">
              {% if filter.has_photo %}<input type="hidden" name="has_photo" value="true">{% endif %}
              <label for="century">Eeuw: </label>
              <select name="century" onchange="this.form.submit()">
                <option value="none">-----</option>
                {% for century in available_centuries %}
                  <option value="{{ century }}"{% if century == filter.century %} selected{% endif %}>{{ century }}</option>
                {% endfor %}
              </select>
            </form>
          </span>
        {% endif %}
      </div>
    </header>
    {% if perms.archive.view_person %}
      {% if person_list %}
        <div>
          {% for person in person_list %}
            {% if forloop.first %}
              <ul class="object-list has-icons">
            {% endif %}
            {% ifchanged person.last_name %}
              </ul>
              <h5>{{ person.last_name }}</h5>
              <ul class="object-list has-icons">
            {% endifchanged %}
            <li class="person person-icon">{% include 'archive/inline_personlink.html' %}</li>
          {% endfor %}
          </ul>
          {% if perms.archive.create_person %}
            <ul class="has-icons admin-functions">
              {% if origin == 'person' and perms.archive.create_person %}
                <li class="edit-icon"><a href="{% url 'archive:add-person' %}">Persoon aanmaken</a></li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      {% endif %}
    {% else %}
      {% include 'archive/inline_insufficient_rights.html' %}
    {% endif %}
  </div>
{% endblock %}