{% load i18n %}<div id="overlayContent">
  <button id="closeOverlay">{% translate 'close'|capfirst %}</button>
  <h4>{{ title }}</h5>
  <p>{{ object.title|default:object }}</p>
  <input
    type="text"
    id="attributeInput"
    placeholder="{% translate 'type to search'|capfirst %}..."
    autocomplete="off"
    data-suggestion-url="{% url 'archive:json-get-suggestions-by-pk-slug' model object.id object.slug related_field %}"
    data-submit-url="{% url 'archive:json-set-attribute-by-pk-slug' model object.id object.slug related_field %}"
    data-success-url="{% url 'archive:json-get-attributes-by-pk-slug' model object.id object.slug related_field %}"
    data-attribute="{{ attribute }}"
  />
  {% if allow_create_attribute %}
    <button id="createAttribute" data-url="{% url 'archive:json-set-attribute-by-pk-slug' model object.id object.slug related_field %}" >{% translate 'create'|capfirst %}</button>
  {% endif %}
  <ul id="suggestions"></ul>
</div>
