{% extends 'index.html' %}
{% load i18n %}

{% block content %}
  {% if not perms.archive.change_comment %}
    {% include  'archive/snippets/error_no_access.html' with object_type='comments' %}
  {% else %}
    <header>
      <h2>{% if comment.user.first_name %}{{ comment.user.first_name }} {{ comment.user.last_name }}{% else %}{{ comment.user }}{% endif %} over {{ comment.image.title }}</h2>
    </header>
    <div class="objects">
      {% include 'archive/snippets/image.html' with object=comment.image %}
      <div class="object">
        <h5><a href="{% url 'archive:image' comment.image.slug %}#comments">{% if comment.user.first_name %}{{ comment.user.first_name }} {{ comment.user.last_name }}{% else %}{{ comment.user }}{% endif %} over {{ comment.image.title }}</a></h5>
        <div class="column right">
          Op {{ comment.date_created|date:'m/d/y H:m' }}:<br>
          {{ comment.content|markdown|safe }}
        </div>
    </div>
    <div class="edit comment">
      <form method="post" class="note">
        {% csrf_token %}
        <dl>
          {% for field in form %}
            <dt>{{ field.label_tag }}</dt>
              <dd>
                {{ field }}
                {% if field.erros %}{{ field.errors }}{% endif %}
              </dd>
          {% endfor %}
          <dt>&nbsp;</dt>
            <dd><input type="submit" value="{% translate 'submit changes' %}"></dd>
        </dl>
      </form>
    </div>
    <!-- Meta information -->
  {% endif %}
{% endblock %}