{% extends 'index.html' %}
{% load i18n %}

{% block content %}
  {% if not perms.archive.view_comment %}
    <!-- Check if user has permissions -->
    <div class="alert alert-danger" role="alert">
      {% translate 'An error occurred' %}: {% translate 'you have no rights to add, view or edit this'%} {% translate 'comment'|lower %}.<br>
      {% translate 'If you feel this error is incorrect, please inform the site admin' %}.
    </div>
  {% elif not comment_list %}
    <!-- Check if object has items to show -->
    <div class="alert alert-danger" role="alert">
      {% translate 'An error occurred' %}: {% translate 'there is no '%} {% translate 'comment'%} {% translate 'available' %}.
    </div>
  {% else %}
    <header>
      <h2>{% translate 'comments' %}:</h2>
      {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
    </header>
    <!-- Pagination -->
    {% include 'archive/snippets/pagination.html' %}
    <section class="objects">
      {% for comment in comment_list %}
        <div class="object">
          <h5><a href="{% url 'archive:image' comment.image.slug %}#comments">{% if comment.user.first_name %}{{ comment.user.first_name }} {{ comment.user.last_name }}{% else %}{{ comment.user }}{% endif %} over {{ comment.image.title }}</a></h5>
          <div class="column left">
            <a href="{% url 'archive:image' comment.image.slug %}" title="{{ comment.image.title }}">
              <img src="{{ comment.image.thumbnail }}" alt="{{ comment.image.title }}" title="{{ comment.image.title }} - {{ comment.image.description }}">
            </a>
          </div>
          <div class="column right">
            Op {{ comment.date_created|date:'m/d/y H:m' }}:<br>
            {{ comment.content|markdown|safe }}
          </div>
        </div>
      {% endfor %}
    </section>
    <!-- Pagination -->
    {% include 'archive/snippets/pagination.html' %}
  {% endif %}
{% endblock %}