{% extends 'index.html' %}
{% load i18n %}

{% block content %}
  {% if not perms.archive.view_comment %}
    {% include  'archive/snippets/error_no_access.html' with object_type='comments' %}
  {% elif not comment_list %}
    {% include  'archive/snippets/error_no_access.html' with object_type='comments' %}
  {% else %}
    <header>
      <h2>{% translate 'comments' %}:</h2>
      {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
    </header>
    <!-- Pagination -->
    {% include 'archive/snippets/pagination.html' %}
    <section class="objects">
      {% for comment in comment_list %}
        <div class="object">
          <h5><a href="{% url 'archive:image' comment.image.slug %}#comments">{% if comment.user.first_name %}{{ comment.user.first_name }} {{ comment.user.last_name }}{% else %}{{ comment.user }}{% endif %} over {{ comment.image.title }}</a></h5>
          <div class="column left">
            <a href="{% url 'archive:image' comment.image.slug %}" title="{{ comment.image.title }}">
              <img src="/documents/{{ comment.image.thumbnail }}" alt="{{ comment.image.title }}" title="{{ comment.image.title }} - {{ comment.image.description }}">
            </a>
          </div>
          <div class="column right">
            {% translate 'on'|capfirst %} {{ comment.date_created|date:'m/d/y H:m' }}:<br>
            {{ comment.content|markdown|safe }}
          </div>
        </div>
      {% endfor %}
    </section>
    <!-- Pagination -->
    {% include 'archive/snippets/pagination.html' %}
  {% endif %}
{% endblock %}