{% load static %}
{% if tag or ajax.editable %}
  <div class="d-flex py-1">
    <div class="col">
      {% for tag in image.tag.all %}
        <img src="{% static 'img/bootstrap-icons/tag.svg' %}" alt="{% translate 'tag' %}" title="{% translate 'tag on this photo'|capfirst %}" data-bs-toggle="tooltip" data-bs-placement="left"> <a href="{% url 'archive:image-with-tag' tag.slug %}" class="tag" title="{{ tag.images.all.count }} afbeeldingen met tag '{{ tag.title|title }}'" data-bs-toggle="tooltip" data-bs-placement="top">{% if compact %}{{ tag.title|title|truncatechars:12 }}{% else %}{{ tag.title|title }}{% endif %}</a> {% if tag.images.all.count > 0 %}({{ tag.images.all.count }}){% endif %}
        {% if ajax.editable and perms.archive.change_image %}
          {% include 'element/reusable_delete_button.html' with field='tag' map_value=tag.slug confirm=True %}
        {% endif %}
        {% if not forloop.last %}<br>{% endif %}
      {% endfor %}
    </div>
  </div>
  {% if ajax.editable  and perms.archive.change_image %}
    <div class="d-flex py-1">
      <div class="col">
        <form
          data-action
          data-url = "{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'image' image.id image.slug 'tag' %}"
          data-method="post"
          data-body="form"
          data-map='{"tag":"#tag"}'
          >
          <div class="input-group">
            <span class="input-group-text">
              <img src="{% static 'img/bootstrap-icons/tags.svg' %}" alt="{% translate 'tags' %}">
            </span>
            <input type="hidden" name="editable" value="true">
            <input  type="text" 
                    class="form-control" 
                    name="full_name" 
                    id="full_name" 
                    placeholder="{% translate 'type to search for tags to add to this image'|capfirst %}"
                    data-autosuggest
                    data-url="{% url 'cmnsd:dispatch' 'tags'%}"
                    data-param="{{ search_query_character}}"
                    data-extra-params='{"format":"json", "exclude": "{% for tag in image.tag.all %}id:{{ tag.id }}{% if not forloop.last %},{% endif %}{% endfor %}"}'
                    data-container="tag"
                    data-display-fields="title, description"
                    data-field-input="title"
                    data-field-hidden="slug"
                    data-field-prefix="tag__"
                    >
            <button type="submit" class="btn btn-outline-success"><img src="{% static 'img/bootstrap-icons/plus.svg' %}" alt="{% translate 'add person' %}" title="{% translate 'add person' %}"></button>
          </div>
        </form>
      </div>
    </div>
  {% endif %}
{% endif %}