{% load i18n %}<li class="bi bi-chat-right-text">
  <div class="comment">
    <h4>{% if comment.user.first_name %}{{ comment.user.first_name }} {{ comment.user.last_name }}{% else %}{{ comment.user }}{% endif %} schreef op {{ comment.date_created|date:'d/m/Y' }}:</h4>
    {{ comment.content|markdown|safe }}
    {% if comment.user == user or user.is_staff %}
      <span class="actions">
        {% if comment.user == user %}<a href="{% url 'archive:edit-comment' comment.id %}">{% translate 'edit'|capfirst %} {% translate 'comment' %}</a>{% endif %}
        {% if user.is_staff %}<a href="/admin/archive/comment/{{ comment.id }}/change/">{% translate 'edit'|capfirst %} {% translate 'in admin' %}</a>{% endif %}
        {% if comment.user == user or user.is_staff %}<a href="{% url 'archive:delete-comment' comment.id %}">{% translate 'delete'|capfirst %} {% translate 'comment' %}</a>{% endif %}
      </span>
    {% endif %}
  </div>
</li>