
/** General Document */
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
}
/** Header */
body > header {
  margin: 0;
  padding: 25px;
}
a {
  text-decoration: none;
}
/** Header navigation */
.navigation > li {
  display: inline-block;  
  margin-left: 25px;
}
/** Pagination */
.pagination {
  width: 75%;
  margin: 15px auto 25px auto;
}
.pagination > span {
  display: inline-block;
  width: 40%;
  margin: 0 auto;
}
.pagination > span.current {
  width: 18%;
}
.pagination > span > a {
  margin: 0 15px;
  padding: 3px 5px;
}

/** Footer */
footer {
  width: 1200px;
  margin: 50px auto 150px auto;
}
footer > div.column {
  display: inline-block;
  width: 285px;
  padding: 5px;
  font-size: 80%;
  vertical-align: top;
}
footer > div.column > h2 {
  font-size: 16px;
  font-weight: bold;
}
footer > div.column > ul {
  list-style-type: none;
  padding: 0;
}
footer > div.column > ul > li {
  margin: 0;
}
footer > div.column > a,
footer > div.column > ul > li > a {
  color: #333;
}
footer > div.column > a:hover,
footer > div.column > ul > li > a:hover {
  color: #339;
  background: tan;
}

/** Content */
.content {
  margin: 0 auto;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
}
/** Listblock */
.listblock {
  width: 380px;
  display: inline-block;
  border: 1px solid;
  margin: 0 4px 4px 0;
  vertical-align: top;
}
/** Nodes */
.node > header > span.document-id {
  font-size: 12px;
}

.node {
  vertical-align: top;
}
.list.node {
  width: 380px;
  display: inline-block;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  margin: 0 5px 5px 0;
}
.node > header > h1 {
  font-size: 22px;
  margin: 0;
  padding: 2px 3px;
  display: inline;
}
.list.node > div.thumbnail {
  width: 150px;
  min-height: 200px;
  float: left;
  overflow: hidden;
}
.list.node > div.thumbnail > * > img {
  width: 100%;
  max-height: 275px;
  object-fit: cover;
}
.list.node > div.details {
  margin-left: 155px;
}
.view.node > div.preview,
.view.node > div.details {
  width: 380px;
}
.view.node > div.preview,
.view.node > div.details {
  display: inline-block;
  vertical-align: top;
}
.view.node > div.preview > * > img {
  max-width: 100%;
}

/** People/Person */
.node > .column.right {
  width: 380px;
  overflow: hidden;
  float: right;
}
.node > .column.left {
  width: 780px;
  float: left;
}
.node > .column > .portrait > img,
.node > .column > .portrait > a > img {
  width: 380px;
  max-height:260px;
  object-fit: cover;
}
.person-details > dl {
  width: 100%;
}
.person-details > dl > dt,
.person-details > dl > dd {
  display: inline-block;
  overflow: auto;
  vertical-align: top;
}

.person-details > dl > dt  {
  width: 260px;
  clear:left;
  float:left;
}
.person-details > dl > dd {
  width: 510px;
  clear:right;
  padding:4px 0 4px 40px;
}
@media screen and (max-width: 840px) {
  .node > .column.left,
  .person-details > dl > dt,
  .person-details > dl > dd {
    width: 380px;
    clear: both;
  }
}
/** people list */
li >span.person-details > span,
li > span.person-details > a {
  display: inline-block;
  border: 0;
}
li > span.person-details > a {
  width: 320px;
}
li > span.person-details > span.person-dates {
  width: 120px;
}

/** Notes */
.detail > .note {
  width: 800px;
  float: left;
}
.detail > .sidebar-right {
  float: right;
  width: 338px;
  border-left: 1px solid;
  padding-left: 20px;
}

/** Comments */
.comments > .comment {
  width: 90%;
  border: 1px solid;
  margin: 5px 5px 5px 0;
}
.comments > .comment > h4 {
  padding: 3px 5px;
  margin: 0;
}
.comments > .comment > p {
  margin: 0 3px 10px 3px;
}


/**
 Admin tasks
 */
.admin {
  margin-top: 20px;
}
.admin > ul.has-icons > li::before {
  color: red;
}
.admin > ul > li > a:hover {
  /** Allow the use of color here because of special function */
  background-color: red;
  color: yellow;
}


.clearfix {
  clear: both;
}
/** 
  Resolution based styling
*/
@media screen and (max-width: 840px) {
  .navigation > li {
    margin-left: 0;
  }
  .content {
    width: 423px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 845px) and (max-width: 1300px) {
  .content {
    width: 850px;
    padding: 0 30px;
  }
  .view.node > div.details {
    padding-left: 10px;
    border-left: 1px solid;
  }
}
@media (min-width: 1300px) and (max-width: 1700px) {
  .content {
    width: 1260px;
  }
}
@media (min-width: 1700px) and (max-width: 2100px) {
  .content {
    width: 1680px;
    background-color: red;
  }
}
@media (min-width: 2100px) {
  .content {
    width: 2050px;
  }
}

@media (min-width: 1300px) {
  .content {
    padding: 40px 40px;
    padding: 40px 40px;
  }  
  .view.node > div.preview {
    width: 580px;
  }
  .view.node > div.details {
    width: 540px;
    padding-left: 10px;
    border-left: 1px solid;
  }
  .person-details > dl > dd {
    width: 770px;
  }
  form.document-edit {
    width: 760px;
  } 
  form.document-edit > p > label {
    width: 200px;
  }
  form.document-edit > p > input,
  form.document-edit > p > textarea,
  form.document-edit > p > select {
    width: 540px;
  }
  form.document-edit > p > span {
    margin-left: 210px;
  }
}
