/**
  This is the install MASTER CSS file as referenced in settings.py
  Use this MASTER CSS file to define CSS Variables that are used in the generic CSS handling
  This allows to have as little CSS files as possible, while allowing to diverisify the amount of installed locations, 
  by avoiding complete css file per install
  Working with CSS Variables: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
*/
/** idea: randoma11y.com Neon Carrot: 
- light: #e99a32;
- dark: ##23232c;
*/
:root {
  /** Site wide */
  --site-background-color: #bbb;
  --site-background-image: url('/documents/van-erp2.jpeg');
  --site-font-family: sans-serif;

  /** Header */
  --header-text-before: '~~';

  /** Wrapper */
  --wrapper-background: rgba(255,255,255,0.8);
  --wrapper-border: 1px solid black;

  /** Object */
  --object-background: transparent;
  --object-border: 1px solid black;
  --object-width: 380px;
  --object-border-hidden: 3px dashed rgba(0,0,0,0.5);

  /** Colours */
  --colour-light: #e99a32;
  --colour-dark: #333;
  --colour-highlight: gold;
}
