{% extends 'index.html' %}
{% load static %}

{% block content %}
  {% if not perms.archive.view_image %}
    {% include  'archive/snippets/error_no_access.html' with object_type='images' %}
  {% elif image.is_deleted %}
      {% include 'archive/snippets/error_object_deleted.html' with object_type='image' %}
  {% else %}
    <section class="cmnsd-supported object">
      <header>
        <h2 id="title">{% include 'field/image_title.html' %}</h2>
        <!-- ACTION LIST -->
        <div id="actionlist">
          {% include 'field/image_actionlist.html' %}
        </div>
      </header>

      <div class="container person-profile py-3">
        <div class="row align-items-start">
          <!-- IMAGE COLUMN -->
          <div class="col-md-5 text-center mb-3 mb-md-0">
            <a href="/documents/{{ image.source }}" title="{{ image.title }}" target="_blank">
              <img  src="/documents/{{ image.source }}" 
                    title="{{ image.title }}" 
                    alt="{{ image.description }}" 
                    class="img-fluid rounded shadow-sm profile-photo"
                    >
            </a>
          </div>

          <!-- CONTENT COLUMN -->
          <div class="col-md-7">
            <!-- ORIGIN -->
            <div id="origin">
              {% include 'function/image_origin.html' with origin=image.origin %}
            </div>
            <!-- CLASSIFICATION -->
            <div id="classification">
              {% include 'function/image_classification.html' with classification=image.classification %}
            </div>
            <!-- PEOPLE -->
            <div id="people">
              {% include 'field/image_people.html' with people=image.people %}
            </div>
            <!-- COMMENTS -->
            <div id="comments">
              {% include 'field/image_comments.html' with comments=image.comments %}
            </div>

            <!-- METADATA -->
            <div id="metadata">
              {% include 'function/image_metadata.html' with metadata=image.metadata %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}