{% extends 'index.html' %}
{% load i18n %}

{% block content %}
  {% if not perms.archive.change_image %}
    {% include  'archive/snippets/error_no_access.html' with object_type='images' %}
  {% else %}
    <header>
      <h2>{{ image.title|default:'Afbeelding toevoegen' }}:</h2>
      {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
    </header>
    <div class="edit image">
      <form method="post" class="image" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="row">
            <div class="col-3">{% translate 'error(s)'|capfirst%}</div>
            <div class="col-9">{{ form.non_field_errors }}</div>
          </div>
        {% endif %}
<!-- Source-file -->
        <div class="row">
          <div class="col-3"><label for="{{ form.source.id_for_label }}">{% translate 'sourcefile'|title %}:</label></div>
          <div class="col-9">
            {% if image.source %}
              <div class="input-group mb-3 parentDiv">
                <span class="input-group-text" id="basic-addon1">{% translate 'selected file'|capfirst %}</span>
                <input type="text" class="form-control" aria-describedby="basic-addon1" name="stored_source" id="id_stored_source" value="{{ image.source }}" disabled>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="showInputAndHideParent()">{% translate 'replace'|capfirst %}</button>
              </div>
              <input class="form-control" style="display: none;" type="file" id="id_source" name="source" accept="image/png, image/gif, image/jpeg, image/heic" {% if 'source' in form %}required value="{{ form.source.value }}{% endif %}">
            {% else %}
              <input class="form-control" type="file" id="id_source" name="source" accept="image/png, image/gif, image/jpeg, image/heic" {% if 'source' in form %}required value="{{ form.source.value }}{% endif %}">
            {% endif %}
            {% if form.source.errors %}<p>{{ form.source.errors }}</p>{% endif %}
          </div>
        </div>
<!-- Image Title -->
        <div class="row">
          <div class="col-3"><label for="{{ form.title.id_for_label }}">{% translate 'title'|title %}:</label></div>
          <div class="col-9">
            <input type="text" name="title" id="id_title" class="form-control" value="{{ form.title.value|default:'' }}">
            {% if form.title.errors %}<p>{{ form.title.errors }}</p>{% endif %}
          </div>
        </div>
<!-- Image Description -->
        <div class="row">
          <div class="col-3"><label for="{{ form.description.id_for_label }}">{% translate 'description'|title %}:</label></div>
          <div class="col-9">
            <textarea class="form-control" id="id_description" name="description" rows="8">{{ form.description.value|default:'' }}</textarea>
            {% if form.description.errors %}<p>{{ form.description.errors }}</p>{% endif %}
            <p>{% translate 'markdown allowed'|capfirst %}</p>
          </div>
        </div>
<!-- Image category -->
        <div class="row">
          <div class="col-3"><label for="{{ form.category.id_for_label }}">{% translate 'image category'|title %}:</label></div>
          <div class="col-9">
            <select class="form-control" name="category" id="category">
              {% for key, value in form.fields.category.choices %}
                <option value="{{ key }}" {% if key == form.category.value %}selected{% endif %}>{{ value|capfirst }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
<!-- Image Source: where does the image originate? -->
        <div class="row">
          <div class="col-3"><label for="{{ form.document_source.id_for_label }}">{% translate 'image source'|title %}:</label></div>
          <div class="col-9">
            <input type="text" class="form-control" name="document_source" id="id_document_source" value="{{ form.document_source.value|default:'' }}">
            {% if form.document_source.errors %}<p>{{ form.document_source.errors }}</p>{% endif %}
            <p>{% translate 'use website-link'|capfirst %} {% translate 'whenever possible' %}</p>
          </div>
        </div>
<!-- Image Dating -->
        <div class="row">
          <div class="col-3">{% translate 'date'|title %}:</div>
          <div class="col-2">
            <input type="number" min="1" max="31" class="form-control" name="day" id="id_day" value="{{ form.day.value|default:'' }}" placeholder="{% translate 'day'|capfirst %}">
          </div>
          <div class="col-3">
            <select class="form-control" name="month" id="id_month">
              {% for key, value in form.fields.month.choices %}
                <option value="{{ key }}" {% if key == form.month.value %}selected{% endif %}>{{ value|capfirst }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-2">
            <input type="number" min="1000" max="{% now "Y" %}" class="form-control" name="year" id="id_year" value="{{ form.year.value|default:'' }}" placeholder="{% translate 'year'|capfirst %}">
          </div>
          <div class="col-2"></div>
        </div>
        {% if form.day.errors or form.month.errors or form.year.errors %}
          <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
              {{ form.day.errors }}
              {{ form.month.errors }}
              {{ form.year.errors }}
            </div>
          </div>
        {% endif %}
<!-- Save Changes halfway -->
        <div class="row">
          <div class="col-3"></div>
          <div class="col-3">
            <input type="submit" value="{% translate 'submit changes'|title %}" class="btn btn-success">
          </div>
          <div class="col-3">
            {% if image %} <a href="{% url 'archive:image' image.slug %}" type="button" class="btn btn-outline-warning">{% translate 'cancel'|capfirst %} {% translate 'and return to image '%}</a>{% endif %}
          </div>
          <div class="col-3"></div>
        </div>
        <hr>
<!-- Special Options -->
        <div class="row">
          <div class="col-3">{% translate 'options'|capfirst %}:</div>
          <div class="col-9">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="{{ form.visibility_frontpage.name }}" id="{{ form.visibility_frontpage.id_for_label }}" {% if form.visibility_frontpage.value %}checked{% endif %} value="true">
              <label class="form-check-label" for="{{ form.visibility_frontpage.id_for_label }}">{% translate 'Show on index page' %}</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="{{ form.visibility_person_page.name }}" id="{{ form.visibility_person_page.id_for_label }}" {% if form.visibility_person_page.value %}checked{% endif %} value="true">
              <label class="form-check-label" for="{{ form.visibility_person_page.id_for_label }}">{% translate 'Show on person overview page' %}</label>
            </div>
            {% comment %} <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="{{ form.is_deleted.name }}" id="{{ form.is_deleted.id_for_label }}" {% if form.is_deleted.value %}checked{% endif %}>
              <label class="form-check-label" for="{{ form.is_deleted.id_for_label }}">{% translate 'Is deleted' %}</label>
              <br><br>
            </div> {% endcomment %}
          </div>
        </div>
<!-- Tagged People -->
        {% if perms.archive.view_person %}
          <div class="row">
            <div class="col-3"><label for="{{ form.people.id_for_label }}">{% translate 'people'|capfirst %}:</label></div>
            <div class="col-9">
              <select class="form-control" id="id_people" name="people" multiple {% if form.fields.people.choices|length > 15 %}size="12"{% endif %}>
                {% for key, value in form.fields.people.choices %}
                  <option value="{{ key }}" {% if key in form.people.value %}selected{% endif %}{% if key == subject_id %}selected{% endif %}>{{ value|capfirst }}</option>
                {% endfor %}
              </select>
              {% if form.people.errors %}<p>{{ form.people.errors }}</p>{% endif %}
              <p>
                <a class="bi bi-people-fill" href="{% url 'archive:people' %}"> {% translate 'people'|capfirst %}</a>
                {% if perms.archive.add_person %}
                  <a class="bi bi-person-fill-add" href="{% url 'archive:add-person' %}"> {% translate 'add' %} {% translate 'person' %}</a>
                {% endif %}
              </p>
            </div>
          </div>
        {% endif %}
<!-- Tagged Tags -->
        {% if perms.archive.view_tag and form.tag %}
          <div class="row">
            <div class="col-3"><label for="{{ form.tag.id_for_label }}">{% translate 'tags'|capfirst %}:</label></div>
            <div class="col-9">
              <select class="form-control" name="tag" id="id_tag" multiple {% if form.fields.tag.choices|length > 15 %}size="12"{% endif %}>
                {% for key, value in form.fields.tag.choices %}
                  <option value="{{ key }}" {% if key in form.tag.value %}selected{% endif %}>{{ value|capfirst }}</option>
                {% endfor %}
              </select>
              {% if form.tag.errors %}<p>{{ form.tag.errors }}</p>{% endif %}
              <p>
                <a class="bi bi-tags-fill" href="{% url 'archive:tags' %}"> {% translate 'tag' %}</a>
                <a class="bi bi-tag" href="{% url 'archive:add-tag' %}">{% translate 'new' %} {% translate 'tag' %}</a>
              </p>
            </div>
          </div>
        {% endif %}
<!-- Image Grouping -->
        {% if form.in_group %}
          <div class="row">
            <div class="col-3"><label for="{{ form.in_group.id_for_label }}">{% translate 'group'|capfirst %}:</label></div>
            <div class="col-9">
              <select class="form-control" name="in_group" id="id_in_group" multiple {% if form.fields.in_group.choices|length > 15 %}size="12"{% endif %}>
                {% for key, value in form.fields.in_group.choices %}
                  <option value="{{ key }}" {% if key in form.in_group.value %}selected{% endif %}>{{ value|capfirst }}</option>
                {% endfor %}
              </select>
              {% if form.in_group.errors %}<p>{{ form.in_group.errors }}</p>{% endif %}
              <p><s>{% translate 'groups' %} - {% translate 'add' %} {% translate 'group' %}</s></p>
            </div>
          </div>
        {% endif %}
<!-- Attachments -->
        {% if image and form.attachments %}
          <div class="row">
            <div class="col-3"><label for="{{ form.attachments.id_for_label }}">{% translate 'attachment'|capfirst %}:</label></div>
            <div class="col-9">
              <select class="form-control" name="attachments" id="id_attachments" multiple {% if form.fields.attachments.choices|length > 15 %}size="12"{% endif %}>
                {% for key, value in form.fields.attachments.choices %}
                  <option value="{{ key }}" {% if key in form.attachments.value %}selected{% endif %}>{{ value|capfirst }}</option>
                {% endfor %}
              </select>
              {% if form.attachments.errors %}<p>{{ form.attachments.errors }}</p>{% endif %}
            </div>
          </div>
        {% endif %}
<!-- Image in Family Collection -->
        {% if families|length > 0 %}
          <div class="row">
            <div class="col-3"><label for="family-id">{% translate 'family collection'|capfirst %}:</label></div>
            <div class="col-9">
                <!-- If image is in family via tagged people -->
              {% if active_family_collections_tag|length > 0 %}
                {% translate 'in family collection of'|capfirst %}:
                {% for family in active_family_collections_tag %}
                  <a href="{% url 'archive:images' %}?family={{ family }}">{{ family }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% translate 'via tagged people' %}.
              {% endif %}
                <!-- Manage Manual Family Connections -->
                {% if available_family_collections|length > 0 %}
                  <select name="family" id="family_id" class="form-control">
                    <option value="">--- {% if image.family %}{% translate 'remove from family collection'|capfirst %}{% else %}{% translate 'add to family collection'|capfirst %}{% endif %} ---</option>
                    {% for family in available_family_collections %}
                      <option value="{{ family }}" {% if image.family == family %}selected{% endif %}>{{ family|title }}</option>
                    {% endfor %}
                  </select>
                {% endif %}
              </ul>
            </div>
          </div>
        {% endif %}
<!-- Image is portrait of -->
        {% if image and form.is_portrait_of %}
          <div class="row">
            <div class="col-3"><label for="{{ form.is_portrait_of.id_for_label }}">{% translate 'is portrait of'|capfirst %}:</label></div>
            <div class="col-9">
              {% for person in image.people.all %}
                {% if person.portrait and person.portrait != image %}
                  {% include 'archive/snippets/person_link.html' with suppress_icons='true' %} {% translate 'has portrait' %} <a href="{% url 'archive:image' person.portrait.slug %}">{{ person.portrait }}</a>.<br>
                {% endif %}
              {% endfor%}
              {% if portrait %}
                <input type="hidden" name="is_portrait_of" value="{{ portrait.id }}">
                {% include 'archive/snippets/person_link.html' with person=portrait %} <a href="{% url 'archive:remove-portrait' portrait.id image.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'delete'|capfirst %} {% translate 'image' %} {% translate 'as portrait of' %} {{ portrait }}">[X]</a>
              {% elif available_portraits.all.count > 0 %}
                <select name="is_portrait_of" id="is_portrait_of" class="form-control">
                  <option value selected>---------</option>
                  {% for person in available_portraits %}
                    <option value="{{ person.id }}">{{ person }}</option>
                  {% endfor %}
                </select>
              {% elif image.people.all.count == 0 %}
                {% translate 'Add a person first.' %}
              {% else %}
                {% translate 'To make this a portrait of a person, remove the current portrait of tagged person' %}
              {% endif %}
              {% if form.is_portrait_of.errors %}<p>{{ form.is_portrait_of.errors }}</p>{% endif %}
            </div>
          </div>
        {% endif %}
<!-- Admin tasks -->
        <div class="row">
          <div class="col-3"><label for="{{ form.user.id_for_label }}">{% translate 'user'|capfirst %}:</label></div>
          <div class="col-9">
            {% if form.user and request.user.is_staff %}
              <select class="form-control" name="user" id="id_user">
                {% for key, value in form.fields.user.choices %}
                  <option value="{{ key }}" {% if key == form.user.value %}selected{% elif not image and key == request.user.id %}selected{% endif %}>{{ value|capfirst }}</option>
                {% endfor %}
              </select>
              {% if form.user.errors %}<p>{{ form.user.errors }}</p>{% endif %}
            {% else %}
              <input type="hidden" name="user" value="{{ image.user.id }}">
            {% endif %}
          </div>
        </div>
<!-- Submit -->
        <div class="row">
          <div class="col-3"></div>
          <div class="col-3"><input type="submit" value="{% translate 'submit changes'|title %}" class="btn btn-success"></div>
          <div class="col-3">{% if image %}<a href="{% url 'archive:image' image.slug %}" type="button" class="btn btn-outline-warning">Annuleren en terug naar afbeelding</a>{% endif %}</div>
          <div class="col-3"></div>
          </div>
        </dl>
      </form>
    </div>
    <!-- Meta information -->
    <hr>
    {% include 'archive/snippets/object_metadata.html' with object=image %}
  {% endif %}

  <script>
    function showInputAndHideParent() {
      var parentDiv = document.querySelector('.parentDiv');
      var inputElement = document.getElementById('id_source');

      // Show the input
      inputElement.style.display = 'block';

      // Hide the parent div
      parentDiv.style.display = 'none';
    }
    </script>
{% endblock %}