{% extends 'index.html' %}

{% block content %}
  <header>
    <h2>{{ count_images }} Afbeelding{{ count_images|pluralize:'en' }} {{ count_images|pluralize:'of,en' }} Document{{ count_images|pluralize:'en' }}:</h2>
    {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
    {% include 'archive/snippets/toggle_hidden_images.html' %}
  </header>
  {% if not images %}
    ERROR: No images to be shown
  {% elif perms.archive.view_image %}
    <!-- Pagination -->
    {% include 'archive/snippets/pagination.html' %}
    <!-- Content -->

    <div class="objects">
      {% for object in images %}
        {% include 'archive/snippets/image.html' %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    {% include 'archive/snippets/pagination.html' %}
  {% else %}
    <!-- No rights to view images -->
    <p>ERROR: Je hebt onvoldoende rechten om afbeeldingen te bekijken. Neem contact op met de beheerder</p>
  {% endif %}
{% endblock %}