{% extends 'index.html' %}

{% block content %}
  <header>
    <h2>Afbeeldingen en Documenten</h2>
    {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
    {% if images_hidden > 0 %}<p class="bi bi-info-circle-fill"> Er {{ images_hidden|pluralize:'is,zijn' }} <a href="?hidden=True" title="Toon ook de {{ images_hidden }} afbeelding{{ images_hidden|pluralize:'en' }}">{{ images_hidden }} afbeelding{{ images_hidden|pluralize:'en' }}</a> verborgen.</p>{% endif %}
  </header>
  {% if not images %}
    ERROR: No images to be shown
  {% elif perms.archive.view_image %}
    <!-- Pagination -->
    {% include 'archive/snippets/pagination.html' %}
    <!-- Content -->

    <div class="objects">
      {% for object in images %}
        {% include 'archive/snippets/image.html' %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    {% include 'archive/snippets/pagination.html' %}
  {% else %}
    <!-- No rights to view images -->
    <p>ERROR: Je hebt onvoldoende rechten om afbeeldingen te bekijken. Neem contact op met de beheerder</p>
  {% endif %}
{% endblock %}