{% extends 'index.html' %}
{% load i18n %}

{% block content %}
  {% if not perms.archive.view_image %}
    <!-- Check if user has permissions -->
    <div class="alert alert-danger" role="alert">
      {% translate 'An error occurred' %}: {% translate 'you have no rights to add, view or edit this'%} {% translate 'image'|lower %}.<br>
      {% translate 'If you feel this error is incorrect, please inform the site admin' %}.
    </div>
  {% elif not images %}
    <!-- Check if object has items to show -->
    <div class="alert alert-danger" role="alert">
      {% translate 'An error occurred' %}: {% translate 'there is no '%} {% translate 'image'%} {% translate 'available' %}.
    </div>
  {% else %}
    <header>
      <h2>{{ count_images }} Afbeelding{{ count_images|pluralize:'en' }} {{ count_images|pluralize:'of,en' }} Document{{ count_images|pluralize:'en' }}:</h2>
      {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
      {% include 'archive/snippets/toggle_hidden_images.html' %}
    </header>
    <!-- Pagination -->
    {% include 'archive/snippets/pagination.html' %}
    <!-- Content -->

    <div class="objects">
      {% for object in images %}
        {% include 'archive/snippets/image.html' %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    {% include 'archive/snippets/pagination.html' %}
  {% endif %}
{% endblock %}