{% load static %}
{% if user.is_authenticated %}
  {% if ajax.editable and perms.location.change_person %}
    {% if not no_save %}
      <!-- Save -->
      <button type="submit" 
              class="btn btn-outline-success show-autocomplete"
              title="{% translate 'save'|capfirst %} {% translate field|capfirst %}"
              ><img src="{% static 'bootstrap-icons/floppy.svg' %}"></button>
    {% endif %}
    <!-- Cancel Edit -->
    <button type="button" 
            class="btn btn-outline-secondary show-autocomplete"
            title="{% translate 'stop editing'|capfirst %} {% translate field|capfirst %}"
            data-action
            data-method="GET"
            data-url	="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' object_name object.id object.slug field %}"
            data-map	= '{"{{ field }}":"#{{ field }}"}'
            ><img src="{% static 'bootstrap-icons/x.svg' %}"></button>
    {% if info %}
      <!-- Info -->
      <button type="button" 
              class="btn btn-outline-info"
              title="{% translate 'information'|capfirst %} {% translate field|capfirst %}"
              data-action="info"
              data-title="{{ infotitle }}"
              data-info="{{ info }}"
              data-placement="left"
              ><img src="{% static 'bootstrap-icons/info-circle.svg' %}"></button>
    {% endif %}
  {% else %}
    <!-- Edit -->
    <button type="button" 
            class="btn btn-outline-secondary show-autocomplete"
            title="{% translate 'edit'|capfirst %} {% translate field|capfirst %}"
            data-action
            data-method="GET"
            data-url	="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' object_name object.id object.slug field %}"
            data-params	= "editable"
            data-map	= '{"{{ field }}":"#{{ field }}"}'
            data-focus="#related_person"
            ><img src="{% static 'bootstrap-icons/pencil.svg' %}"></button>
  {% endif %}
{% endif %}