{% extends 'index.html' %}
{% load i18n %}

{% block content %}
  {% if not perms.archive.view_person %}
    <!-- Check if user has permissions -->
    <div class="alert alert-danger" role="alert">
      {% translate 'An error occurred' %}: {% translate 'you have no rights to add, view or edit this'%} {% translate 'tag'|lower %}.<br>
      {% translate 'If you feel this error is incorrect, please inform the site admin' %}.
    </div>
  {% else %}
    <header>
      <h2>{{ tag.title|default:'Nieuwe tag' }}:</h2>
      {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
    </header>
    <div class="edit tag">
      <form method="post" class="tag">
        {% csrf_token %}
        <dl>
          {% for field in form %}
            <dt>{{ field.label_tag }}</dt>
              <dd>
                {{ field }}
                {% if field.erros %}{{ field.errors }}{% endif %}
              </dd>
          {% endfor %}
          <dt>&nbsp;</dt>
            <dd><input type="submit" value="{% translate 'submit changes'%}"></dd>
        </dl>
      </form>
    </div>
    <!-- Meta information -->
    <hr>
    {% include 'archive/snippets/object_metadata.html' with object=tag %}
  {% endif %}
{% endblock %}