{% extends 'index.html' %}

{% block content %}
  <header>
    <h2>Tags:</h2>
    {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
  </header>
  {% if not tag_list or tag_list.all.count == 0 %}
    ERROR: No tags to be shown
  {% endif %}
  {% if perms.archive.view_tag %}
    <div class="objects">
      <ul class="tags no-bullets">
        {% for tag in tag_list %}
        <li class="tag bi bi-tag-fill{% if request.GET.mark|lower == tag.slug|lower %} marked{% endif %}">
          <a href="{% url 'archive:image-with-tag' tag.slug %}" class="tag">{{ tag.title|title }}</a>
          <span class="image_counter" {% if tag.get_hidden_images.count > 0 %} data-bs-toggle="tooltip" data-bs-placement="top" title="Verborgen afbeeldingen beschikbaar"{% endif %}>({{ tag.get_images.count }}{% if tag.get_hidden_images.count > 0 %}<i>*</i>{% endif %})</span>
          {% if perms.archive.change_tag %}<a class="bi bi-pencil-fill" href="{% url 'archive:edit-tag' tag.slug %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Bewerk tag &quot;{{ tag }}&quot;"> </a>{% endif %}
          {% if tag.description %}
            <br>
            <span class="description">{{ tag.description }}</span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}