{% extends 'index.html' %}

{% block content %}
  <header>
    <h2>Tags:</h2>
    {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
  </header>
  {% if not tag_list or tag_list.all.count == 0 %}
    ERROR: No tags to be shown
  {% endif %}
  {% if perms.archive.view_tag %}
    <div class="objects">
      <ul class="tags no-bullets">
        {% for tag in tag_list %}
        <li class="tag bi bi-tag-fill">
          <a href="{% url 'archive:image-with-tag' tag.slug %}" class="tag">{{ tag.title|title }}</a>
          ({{ tag.images.all.count }})
          {% if perms.archive.change_tag %}<a class="bi bi-pencil-fill" href="{% url 'archive:edit-tag' tag.slug %}"> </a>{% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}