{% extends "index.html" %}

{% block pagetitle %}{{ page_scope|default:'Reacties' }}{% endblock %}

{% block css %}{% endblock %}

{% load markdown_extras %}

{% block content %}
  <div class="content-block node comments">
    <header>
      <h2>Recente reacties:</h2>
      {% if page_description %}<p class="page-description">{{ page_description}}</p>{% endif %}
    </header>
    {% if perms.archive.view_comment %}
      {% if comments %}
        <div class="comments">
          <!-- Pagination -->
            {% include "pagination.html" %}
            {% for comment in comments %}
              <div class="comment">
                <h4>{{ comment.user }} op <a href="{% url 'archive:image' comment.image.id comment.image.title|slugify %}">{{ comment.image.title }}</a> ({{ comment.date_created|date:'d/m/Y G:i' }})</h4>
                <a href="{% url 'archive:image' comment.image.id comment.image.title|slugify %}"><img src="{{ comment.image.thumbnail }}" style="float: right"></a>
                {{ comment.content|markdown|safe }}
                <div class="clearfix"></div>  
                {% if comment.user == request.user %}<a href="{% url 'archive:edit-comment' comment.id %}" class="edit-comment">Bewerk je reactie</a>{% endif %}
              </div>
            {% endfor %}
            <!-- Pagination -->
            {% include "pagination.html" %}
        </div>
      {% else %}
        <h2>Geen reacties om te delen</h2>
      {% endif %}
    {% else %}
      {% include 'archive/inline_insufficient_rights.html' %}
    {% endif %}
  </div>
{% endblock %}
