{% extends "index.html" %}

{% block pagetitle %}Opmerking bewerken{% endblock %}

{% block css %}{% endblock %}

{% block content %}
  {% if perms.archive.edit_comment %}
    <form action="{% url 'archive:edit-comment' comment.id %}" method="post" class="document-edit">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Opslaan"> 
    </form>
    <div class="clearfix"></div>
  {% else %}
    {% include 'archive/inline_insufficient_rights.html' %}
  {% endif %}
{% endblock %}