{% load static %}

<!-- Bootstrap Javascript -->
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap Tooltips -->
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

<!-- CMNSDJANGO -->
<script src="{% static 'js/getCookieValue.js' %}"></script>
{% comment %} <script src="{% static 'js/getAttributes.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/cmnsdjango.js' %}"></script> {% endcomment %}
<script src="{% static 'js/cmnsdjango-ajax-utils.js' %}"></script>
<script src="{% static 'js/cmnsdjango-ajax-actions.js' %}"></script>
 
