{% load static %}
<footer>
  &copy; {% now 'Y' %} | By Arne Coomans | <a href="https://github.com/arnecoomans/camping.cmns.nl/" target="_blank" title="{% translate 'camping.cmns.nl on GitHub'|capfirst %}"><img src="{% static 'img/bootstrap-icons/github.svg' %}" alt="GitHub"></a> | Powered by <span class="cmnsd"><span class="cmnsd-square"></span> <a href="https://github.com/arnecoomans/cmnsd/" target="_blank">cmnsd</a></span> and <span class="cmnsd js"><span class="cmnsd-square"></span> <a href="https://github.com/arnecoomans/cmnsd/tree/main/static/js/cmnsd" target="_blank">cmnsd.js</a></span>
</footer>

<!-- Bootstrap Javascript -->
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap Tooltips -->
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

<!-- CMNSDJANGO -->
{% comment %} <script src="{% static 'js/getCookieValue.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/getAttributes.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/cmnsdjango.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/cmnsdjango-ajax-utils.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'js/cmnsdjango-ajax-actions.js' %}"></script> {% endcomment %}
 
