{% load static %}

<!-- Bootstrap Javascript -->
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap Tooltips -->
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

<!-- CMNSDJANGO -->
 <script src="{% static 'js/cmnsdjango.js' %}"></script>
 
