<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet"  href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/img/bootstrap-icons/bootstrap-icons.min.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/dynamicOverlay.css' %}">
    <link rel="stylesheet" href="{% static 'css/manageAttributes.css' %}"> {% endcomment %}
    <!-- cmnsd -->
    <link rel="stylesheet" href="{% static 'css/cmnsd/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmnsd/cmnsd.branding.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmnsd/cmsd.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmnsd/autosuggest.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmnsd/actions.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmnsd/cropper.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/cmnsd/dynamicOverlay.css' %}"> {% endcomment %}

    {% for file in load_script %}
      <script src="/static/{{ file }}"></script>
    {% endfor %}
    <title>
      {% if page_title %}{{ page_title }} - {% endif %}
      {% if image %}{{ image.title }} - {% endif %}
      {% if person %}{{ person.full_name }} - {% endif %}
      {% if note %}{{ note.title }} - {% endif %}
      {{ website_title|default:"A FMLY archive" }}</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'archive/' %}{{ master_css }}" />
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}" />    
    {% for file in load_css %}
    <link rel="stylesheet" type="text/css" href="{% static file %}" />
    {% endfor %}
    <style type="css">{% block css %}{% endblock %}</style>
  </head>
  <body>
<!-- Header -->
{% include 'header.html' %}
{% include 'navigation.html' %}
<!-- Messages -->
{% include 'messages.html' %}
<!-- Content -->
<section class="container" id="wrapper">
  {% if user.is_authenticated or login or public %}
    {% block content %}{% endblock %}
  {% elif register %}
    {% block register %}{% endblock %}
  {% else %}
    {% include 'registration/inline_login.html' %}
  {% endif %}
</section>

    <div class="spacer"></div>
<!-- Footer -->
    {% include 'footer.html' %}
    {% block footer %}
    {% endblock %}

    <!-- Javascripts -->
<script src="{% static '/js/jquery/jquery.min.js' %}"></script>
<script src="{% static '/js/jquery-ui/jquery-ui.js' %}"></script> 
<script type="module">
  import cmnsd from "{% static 'js/cmnsd/index.js' %}";
  import { initAutosuggest } from "{% static 'js/cmnsd/autosuggest.js' %}";

  cmnsd.init({
    baseURL: '',
    debug: {{ debug|lower|default:'false' }}, // enable console.debug tracing when django DEBUG=True
    messages: { container: '#messages', dismissible: true, clearBefore: false, max: 5 }, // message container, see messages.html
    actions: { autoBind: true } // bind delegated [data-action] on document

    {% block cmnsdInit %}{% endblock %}
  });
  {% block cmnsdPostInit %}{% endblock %}
  document.addEventListener('submit', e => console.debug('[test] submit event', e.target));
  initAutosuggest();
</script>
{% block scriptfooter %}{% endblock %}

  </body>
</html>