<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet"  href="{% static 'bootstrap/bootstrap.5.0.2.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.min.css' %}">

    {% for file in load_script %}
      <script src="/static/{{ file }}"></script>
    {% endfor %}
    <title>
      {% if page_title %}{{ page_title }} - {% endif %}
      {% if image %}{{ image.title }} - {% endif %}
      {% if person %}{{ person.full_name }} - {% endif %}
      {% if note %}{{ note.title }} - {% endif %}
      {{ website_title|default:"A FMLY archive" }}</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'archive/' %}{{ master_css }}" />
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}" />    
    {% for file in load_css %}
    <link rel="stylesheet" type="text/css" href="{% static file %}" />
    {% endfor %}
    <style type="css">{% block css %}{% endblock %}</style>
  </head>
  <body>
<!-- Header -->
{% include 'header.html' %}
{% include 'navigation.html' %}
<!-- Messages -->
{% include 'messages.html' %}
<!-- Content -->
<section class="container" id="wrapper">
  {% if user.is_authenticated or login or public %}
    {% block content %}{% endblock %}
  {% elif register %}
    {% block register %}{% endblock %}
  {% else %}
    {% include 'registration/inline_login.html' %}
  {% endif %}
</section>

    <div class="spacer"></div>

<!-- Footer -->
    {% include 'footer.html' %}
    {% block footer %}
    {% endblock %}
  </body>
</html>