{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand bi bi-images{% if active_page == 'images' %} active{% endif %}" href="/"  accesskey="a"> {% translate 'archive'|title %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if not user.is_authenticated %}
          {% if public %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}"> {% translate 'log-in'|title %}</a>
            </li>
            {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'archive:signup' %}"> {% translate 'register'|title %}</a>
          </li>
        {% endif %}
        {% if perms.archive.view_person %}
          <li class="nav-item">
            <a class="nav-link bi bi-people-fill{% if active_page == 'people' %} active{% endif %}" href="{% url 'archive:people' %}"  accesskey="p"> {% translate 'people'|title %}</a>
          </li>
        {% endif %}
        {% if perms.archive.view_tag %}
          <li class="nav-item">
            <a class="nav-link bi bi-tags-fill{% if active_page == 'tags' %} active{% endif %}" href="{% url 'archive:tags' %}" accesskey="t"> {% translate 'tags'|title %}</a>
          </li>
        {% endif %}
        {% if perms.archive.view_comment %}
          <li class="nav-item">
            <a class="nav-link bi bi-chat-text-fill{% if active_page == 'comments' %} active{% endif %}" href="{% url 'archive:comments' %}"  accesskey="r"> {% translate 'comments'|title %}</a>
          </li>
        {% endif %}
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bi bi-gear-fill" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% translate 'profile'|title %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- Personal Profile-->
              <li><a class="dropdown-item bi bi-person" href="{% url 'archive:settings' %}"> {{ user.first_name }} {{ user.last_name }} ({{ user }})</a></li>
              <li><a class="dropdown-item bi bi-images" href="{% url 'archive:image-by-uploader' user %}"> {% translate 'my uploads'|title %}</a></li>
              {% if user.preference.favorites.all.count > 0 %}<li><a class="dropdown-item bi bi-heart-fill" href="{% url 'archive:images' %}?loved"> {% translate 'images i love'|capfirst %}</a>{% endif %}
              <li><div class="dropdown-divider"></div></li>
              <!-- Notes -->
              {% if perms.archive.view_note %}
                <li><a class="dropdown-item bi bi-stickies-fill{% if active_page == 'notes' %} active{% endif %}" href="{% url 'archive:notes' %}"  accesskey="n"> {% translate 'notes'|title %}</a></li>
              {% endif %}
              <!-- Attachments -->
              {% if perms.archive.view_attachment %}
                <li><a class="dropdown-item bi bi-paperclip" href="{% url 'archive:attachments' %}"> {% translate 'attachments'|title %}</a></li>
              {% endif %}
              <li><div class="dropdown-divider"></div></li>
            <!-- Objects -->
              <!-- Images -->
              {% if perms.archive.add_document or perms.archive.add_image %}
                <li><a class="dropdown-item bi bi-cloud-arrow-up" href="{% url 'archive:add-image' %}"> {% translate 'add'|title %} {% translate 'image'|title %}</a></li>
              {% endif %}
              {% if object and perms.archive.change_image %}
                <li><a class="dropdown-item bi bi-pencil-fill" href="{% url 'archive:image-edit' object.id %}"> {% translate 'edit this'|capfirst %} {% translate 'image'|title %}</a></li>
              {% endif %}
              <!-- People -->
              {% if perms.archive.add_person %}
                <li><a class="dropdown-item bi bi-person-fill-add" href="{% url 'archive:add-person' %}"> {% translate 'add'|title %} {% translate 'person'|title %}</a></li>
              {% endif %}
              {% if person and perms.archive.change_person %}
                <li><a class="dropdown-item bi bi-person-fill" href="{% url 'archive:person-edit' person.id %}"> {% translate 'edit this'|capfirst %} {% translate 'person'|title %}</a></li>
              {% endif %}
              <!-- Tags -->
              {% if perms.archive.add_tag %}
                <li><a class="dropdown-item bi bi-tag-fill" href="{% url 'archive:add-tag' %}"> {% translate 'add'|title %} {% translate 'tag'|title %}</a></li>
              {% endif %}
              {% if tag and perms.archive.change_tag %}
                <li><a class="dropdown-item bi bi-pencil-fill" href="{% url 'archive:edit-tag' tag.slug %}"> {% translate 'edit this'|capfirst %} {% translate 'tag'|title %}</a></li>
              {% endif %}
              <!-- Notes -->
              {% if perms.archive.add_note %}
                <li><a class="dropdown-item bi bi-file-earmark-arrow-up-fill" href="{% url 'archive:add-note' %}"> {% translate 'add'|title %} {% translate 'note'|title %}</a></li>
              {% endif %}
              {% if note and perms.archive.change_note %}
                <li><a class="dropdown-item bi bi-pencil-fill {% if user != note.user and not user.is_superuser %}disabled{% endif %}" href="{% url 'archive:note-edit' note.id %}"> {% translate 'edit this'|capfirst %} {% translate 'note'|title %}</a></li>
              {% endif %}
              <!-- Attachment -->
              {% if perms.archive.create_attachment %}
                <li><a class="dropdown-item bi bi-paperclip " href="{% url 'archive:add-attachment' %}"> {% translate 'add'|title %} {% translate 'attachment'|title %}</a></li>
              {% endif %}
              <!-- Admin -->
              {% if user.is_staff %}
                <li><div class="dropdown-divider"></div></li>
                <li><a class="dropdown-item bi bi-wrench-adjustable-circle-fill" href="/admin"> {% translate 'admin'|title %}</a></li>
                {% if image %}
                  <li><a class="dropdown-item bi bi-pencil-fill" href="/admin/archive/image/{{ image.id }}/change/"> {% translate 'edit this'|capfirst %} {% translate 'image'|title %} {% translate 'in admin' %}</a></li>
                  {% if image.comments.all.count > 0 %}<li><a class="dropdown-item bi bi-pencil-fill" href="/admin/archive/comment/?image__id__exact={{ image.id }}"> {% translate 'edit this'|capfirst %} {% translate 'image'|capfirst %} {% translate 'comments'|capfirst %} {% translate 'in admin' %}</a></li>{% endif %}
                {% endif %}
                {% if person %}<li><a class="dropdown-item bi bi-pencil-fill" href="/admin/archive/person/{{ person.id }}/change/"> {% translate 'edit this'|capfirst %} {% translate 'person'|title %} {% translate 'in admin' %}</a></li>{% endif %}
                {% if note %}<li><a class="dropdown-item bi bi-pencil-fill" href="/admin/archive/note/{{ note.id }}/change/"> {% translate 'Edit note in admin'|title %}</a></li>{% endif %}
              {% endif %}
              <li><div class="dropdown-divider"></div></li>
              <li><a class="dropdown-item bi bi-box-arrow-left" href="{% url 'logout' %}" title="Je bent ingelogd als {{ user.first_name }} {{ user.last_name }} ({{ user }})"> {% translate 'Log out'|title %}</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
        <form class="d-flex" method="get"
              action="{% if active_page == 'images' %}{% url 'archive:images' %}{% elif active_page == 'people' %}{% url 'archive:people' %}{% elif active_page == 'tags' %}{% url 'archive:tags' %}{% elif active_page == 'comments' %}{% url 'archive:comments' %}{% elif active_page == 'notes' %}{% url 'archive:notes' %}{% endif %}">>
        {% with current='search' %}
          {% for key, value in filters.items %}
            {% if value and key != current %}
              <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
        {% endwith %}
          <input class="form-control me-2" 
                 type="search" placeholder="{% translate 'Search' %}"
                 aria-label="Search" name="search" 
                 {% if request.GET.search %}value="{{ request.GET.search }}"{% endif %}>
          <button class="btn btn-outline-success {% if not active_page %}disabled{% endif %}" type="submit" {% if not active_page %}disabled{% endif %}>{% translate 'Search' %}</button>
        </form>
      {% endif %}
    </div>
  </div>
</nav>