<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand bi bi-images{% if active_page == 'images' %} active{% endif %}" href="/"  accesskey="a"> Archief</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Inloggen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'archive:signup' %}">Aanmelden</a>
        </li>
        {% endif %}
        {% comment %} {% if perms.archive.view_image %}
          <li class="nav-item active">
            <a class="nav-link" href="/">Afbeeldingen</a>
          </li>
        {% endif %} {% endcomment %}
        {% if perms.archive.view_person %}
          <li class="nav-item">
            <a class="nav-link bi bi-people-fill" href="{% url 'archive:people' %}"  accesskey="p"> Personen</a>
          </li>
        {% endif %}
        {% if perms.archive.view_tag %}
          <li class="nav-item">
            <a class="nav-link bi bi-tags-fill" href="{% url 'archive:list-tags' %}" accesskey="t"> Tags</a>
          </li>
        {% endif %}
        {% if perms.archive.view_comment %}
          <li class="nav-item">
            <a class="nav-link bi bi-chat-text-fill" href="{% url 'archive:comments' %}"  accesskey="r"> Reacties</a>
          </li>
        {% endif %}
        {% if perms.archive.view_note %}
          <li class="nav-item">
            <a class="nav-link bi bi-stickies-fill" href="{% url 'archive:notes' %}"  accesskey="n"> Notities</a>
          </li>
        {% endif %}
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bi bi-gear-fill" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profiel
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item bi bi-images" href="{% url 'archive:image-by-uploader' user %}"> Mijn uploads</a></li>
              <li><div class="dropdown-divider"></div></li>
              {% if perms.archive.add_document %}
                <li><a class="dropdown-item bi bi-cloud-arrow-up disabled" href="#"> Afbeelding uploaden</a></li>
              {% endif %}
              {% if perms.archive.add_person %}
                <li><a class="dropdown-item bi bi-person-fill-add disabled" href="#"> Persoon aanmaken</a></li>
              {% endif %}
              {% if image or note %}
                {% if note %}
                  <li><a class="dropdown-item bi bi-pencil-fill" href="{% url 'archive:note-edit' note.id %}"> Bewerk notitie</a></li>
                {% endif %}
              {% endif %}
              {% if user.is_staff %}
                <li><div class="dropdown-divider"></div></li>
                <li><a class="dropdown-item bi bi-wrench-adjustable-circle-fill" href="/admin"> Admin</a></li>
                {% if image %}
                  <li><a class="dropdown-item bi bi-pencil-fill" href="/admin/archive/image/{{ image.id }}/change/"> Edit image in admin</a></li>
                  {% if image.comments.all.count > 0 %}<li><a class="dropdown-item bi bi-pencil-fill" href="/admin/archive/comment/?image__id__exact={{ image.id }}"> Edit image comments in admin</a></li>{% endif%}
                {% endif %}
                {% if person %}<li><a class="dropdown-item bi bi-pencil-fill" href="/admin/archive/person/{{ person.id }}/change/"> Edit person in admin</a></li>{% endif %}
                {% if note %}<li><a class="dropdown-item bi bi-pencil-fill" href="/admin/archive/note/{{ note.id }}/change/"> Edit note in admin</a></li>{% endif %}
              {% endif %}
              <li><div class="dropdown-divider"></div></li>
              <li><a class="dropdown-item bi bi-box-arrow-left" href="{% url 'logout' %}"> Uitloggen</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success disabled" type="submit">Search</button>
        </form>
      {% endif %}
    </div>
  </div>
</nav>