{% extends 'index.html' %}
{% load i18n %}

{% block content %}
  {% if not perms.archive.view_attachment %}
    {% include  'archive/snippets/error_no_access.html' with object_type='attachments' %}
  {% else %}
    <header>
      <h2>{% if note %}{{ note.title }}{% else %}{% translate 'add'|capfirst %} {% translate 'attachment' %}{% endif %}</h2>
      {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
    </header>
    <div class="edit attachment">
      <form method="post" class="attachment" enctype="multipart/form-data"> 
        {% include 'archive/snippets/form_basic.html'%}
      </form>
    </div>
    <!-- Meta information -->
    <hr>
    {% include 'archive/snippets/object_metadata.html' with object=attachment %}
  {% endif %}
{% endblock %}