{% extends 'index.html' %}
{% load i18n %}

{% block content %}
  <header>
    <h2>
      {% if note %}{{ note.title }}{% else %}{% translate 'Add attachment'|title %}{% endif %}
    </h2>
    {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
  </header>
  {% if perms.archive.change_attachment %}
    <div class="edit attachment">
      <form method="post" class="attachment" enctype="multipart/form-data"> 
        {% include 'archive/snippets/form_basic.html' %}
      </form>
    </div>
    <!-- Meta information -->
    <hr>
    {% include 'archive/snippets/object_metadata.html' with object=attachment %}
  {% endif %}
{% endblock %}