{% extends 'index.html' %}
{% load i18n %}

{% block content %}
  {% if not perms.archive.view_attachment %}
    {% include  'archive/snippets/error_no_access.html' with object_type='attachments' %}
  {% elif not attachment_list %}
    {% include  'archive/snippets/error_no_access.html' with object_type='attachments' %}
  {% else %}
    <header>
      <h2>{% translate 'attachments' %}:</h2>
      {% if page_description %}<div class="page_description">{{ page_description|safe }}.{% endif %}
    </header>
    <div class="objects">
      <ul class="tags no-bullets">
        {% for attachment in attachment_list %}
        {% ifchanged attachment.user %}
          </ul>
          <h5>{% if attachment.user.first_name or attachment.user.last_name %}{{ attachment.user.first_name }} {{ attachment.user.last_name }} ({% endif %}{{ attachment.user}}{% if attachment.user.first_name or attachment.user.last_name %}){% endif %}</h5>
          <ul class="tags no-bullets">
        {% endifchanged %}
        <li class="tag bi bi-paperclip{% if request.GET.mark|lower == attachment.slug|lower %} marked{% endif %}">
          <a href="{% url 'archive:attachment' attachment.slug %}" class="attachment" target="_blank" rel="noopener noreferrer">{{ attachment.description|title }}</a>
          [{{ attachment.getSize }}]
          ({{ attachment.uploaded_at|date:'d/m/y' }})
          {% if attachment.images.all.count > 0 %}
            {% for image in attachment.images.all %} 
              <a href="{% url 'archive:image' image.slug %}" class="bi bi-image-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'View linked image' %} &quot;{{ image.title }}&quot;"></a>
            {% endfor %}
          {% else %}
            {% if attachment.extension == 'pdf' %}
              <a href="{% url 'archive:create-image-from-attachment' attachment.slug %}" class="bi bi-plus-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Create image from' %} {% translate 'attachment' %}"></a>
            {% endif %}
          {% endif %}
          {% if attachment.user == request.user %}
            <a href="" class="bi bi-pencil-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'edit'|capfirst %} {% translate 'attachment' %}"></a>
            <a href="{% url 'archive:delete-attachment' attachment.slug %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'delete'|capfirst %} {% translate 'attachment' %}">[X]</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}