{% comment %}
  A book's publisher and year (BookContent) - a field row; an editable
  block (form: BookPublicationForm - also the author as text), shown even
  when empty in edit mode.
{% endcomment %}
{% with book=content.book_detail %}
<dt>{% translate "publisher"|capfirst %}</dt>
<dd>{% if book.publisher or book.publication_year %}{{ book.publisher }}{% if book.publisher and book.publication_year %}, {% endif %}{{ book.publication_year|default_if_none:'' }}{% else %}<span class="edit-block__empty">{% translate "unknown" %}</span>{% endif %}</dd>
{% endwith %}
