{% extends "index.html" %}

{% block pagetitle %}Afbeelding toevoegen{% endblock %}

{% block css %}{% endblock %}

{% block content %}
  {% if perms.archive.view_document %}
    {% include 'archive/listblock_image.html' %}
  {% endif %}
  {% if perms.archive.edit_document %}
    <form action="{% url 'archive:image-edit' image.id %}" method="post" class="document-edit">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Opslaan"> <a href="{% url 'archive:image' image.id image.title|slugify %}">Terug naar document zonder opslaan</a>
    </form>
    <div class="clearfix"></div>
  {% else %}
    {% include 'archive/inline_insufficient_rights.html' %}
  {% endif %}
{% endblock %}