{% extends "index.html" %}

{% block pagetitle %}{{ page_scope|default:'Documenten uploaden' }}{% endblock %}

{% block head %}
{% endblock %}
{% block css %}{% endblock %}

{% block content %}
<div class="node">
  <h3>Upload bestand<!--en-->:</h3>
  <!-- <p>Upload meerdere bestanden tegelijk.</p> -->
  <ul>
    <li>Bestand wordt als document aangemaakt</li>
    <li>Het document krijgt de bestandsnaam als titel</li>
    <li>Het document wordt niet getoond in het overzicht</li>
    <li>Voor documenten die jij hebt geüploadet, kijk <a href="{% url 'archive:my-images' %}">hier</a>.</li>
    <li>Wil je meer bestanden tegelijk uploaden? <a href="{% url 'archive:add-photos' %}">Gebruik het uploads-formulier</a>.</li>
  </ul>
  {% if perms.archive.update_document %}
    <form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Bestand uploaden">
    </form>
  {% endif %}
</div>

{% endblock %}