{% extends "index.html" %}

{% block pagetitle %}Note: {{ note.title }}{% endblock %}

{% block css %}

{% endblock %}

{% load markdown_extras %}

{% block content %}
  <div class="content-block detail-view note node" id="note-{{ note.id }}">
    {% if perms.archive.edit_note %}
      <h2>Bewerk notitie: {{ note.title }}</h2>
      <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Opslaan">
      </form>
    {% else %}
      {% include 'archive/inline_insufficient_rights.html' %}
    {% endif %}
  </div>
{% endblock %}