{% extends "index.html" %}

{% block pagetitle %}{{ page_scope|default:'alle documenten' }}{% endblock %}

{% block css %}{% endblock %}

{% block content %}
  <div class="content-block node documents">
    <header>
      <h2>Overzicht van {{ page_scope|default:'alle documenten' }}:</h2>
      {% if page_description %}<p class="page-description">{{ page_description|safe }}</p>{% endif %}
    </header>
    {% if origin == 'tag' and perms.archive.view_tag or origin == 'person' and perms.archive.view_person or origin == 'note' and perms.archive.view_note %}
      {% if objects %}
        <div>
          <ul class="object-list has-icons">
            {% for object in objects %}
              {% include 'archive/inline_object.html' %}
            {% endfor %}
          </ul>
          {% if perms.archive.create_note or perms.archive.create_person or perms.archive.create_tag %}
            <ul class="has-icons admin-functions">
              {% if origin == 'note' and perms.archive.create_note %}
                <li class="edit-icon"><a href="{% url 'archive:add-note' %}">Notitie aanmaken</a></li>
              {% elif origin == 'person' and perms.archive.create_person %}
                <li class="edit-icon"><a href="{% url 'archive:add-person' %}">Persoon aanmaken</a></li>
              {% elif origin == 'tag' and perms.archive.create_tag %}
                <li class="edit-icon"><a href="{% url 'archive:add-tag' %}">Tag aanmaken</a></li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      {% endif %}
    {% else %}
      {% include 'archive/inline_insufficient_rights.html' %}
    {% endif %}
  </div>
{% endblock %}