{% extends "index.html" %}

{% block pagetitle %}{{ person.full_name|default:'-' }}{% endblock %}

{% block head %}
  <!-- script src="https://code.jquery.com/jquery-3.6.0.min.js"></script -->
  
{% endblock %}
{% block css %}{% endblock %}

{% block content %}
  {% if perms.archive.change_person or person.related_user == request.user %}
    <div class="node">
      {% if not perms.archive.change_person and person.related_user == request.user %}<div class="notification">Je kan deze gegevens bewerken omdat ze over jou gaan.</div>{% endif %}
      <form  method="post" class="person-edit">
        {% csrf_token %}
{% if user.is_superuser %}
<h1>Er wordt gewerkt aan een mooiere / betere manier voor verwerken persoonsgegevens. Superadmins zien dit nieuwe formulier dat mogelijk nog niet goed werkt. Gebruikers zien het oude formulier</h1>
        {{ form.non_field_errors }}
        <div class="person peronalia">
          <h3>Persoonsgegevens</h3>
          <div class="fieldWrapper">
            {{ form.first_name.errors }}
            <label for="{{ form.first_name.id_for_label }}">Roepnaam:</label>
            {{ form.first_name }}
          </div>
          <div class="fieldWrapper">
            {{ form.given_names.errors }}
            <label for="{{ form.given_names.id_for_label }}">Voornamen:</label>
            {{ form.given_names }}
          </div>
          <div class="fieldWrapper">
            {{ form.last_name.errors }}
            <label for="{{ form.last_name.id_for_label }}">Achternaam:</label>
            {{ form.last_name }}
          </div>
          <div class="fieldWrapper">
            {{ form.nickname.errors }}
            <label for="{{ form.nickname.id_for_label }}">Bijnaam/Bijnamen:</label>
            {{ form.nickname }}
          </div>
          {# Veld e-mail is alleen zichtbaar voor de gebruiker #}
          {% if person.related_user == request.user  %}<div class="fieldWrapper">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
          </div>{% endif %}

          <h3>Levensloop</h3>
          <div class="fieldWrapper birth">
            <div class="date">
              {{ form.date_of_birth.errors }}
              <label for="{{ form.date_of_birth.id_for_label }}">Geboortedatum:</label>
              {{ form.date_of_birth }}
              <a href="#" class="switch">Alleen jaartal bekend</a>
            </div>
            <div class="year">
              {{ form.year_of_birth.errors }}
              <label for="{{ form.year_of_birth.id_for_label }}">Geboortejaar:</label>
              {{ form.year_of_birth }}
              <a href="#" class="switch">Geboortedatum bekend</a>
            <div>
          </div>
          <div class="fieldWrapper deceased">
            <div class="date">
              {{ form.date_of_death.errors }}
              <label for="{{ form.date_of_death.id_for_label }}">Overlijdensdatum:</label>
              {{ form.date_of_death }}
              <a href="#" class="switch">Alleen overlijdensjaar bekend</a>
            </div>
            <div class="year">
              {{ form.year_of_death.errors }}
              <label for="{{ form.year_of_death.id_for_label }}">Overlijdensjaar:</label>
              {{ form.year_of_death }}
              <a href="#" class="switch">Overlijdensdatum bekend</a>
            <div>
            <div class="fieldWrapper">
              {{ form.place_of_death.errors }}
              <label for="{{ form.place_of_death.id_for_label }}">Plaats van overlijden (Land):</label>
              {{ form.place_of_death }}
            </div>
        </div>
        <div class="bio">
          {{ form.bio.errors }}
          <label for="{{ form.bio.id_for_label }}">Biografie:</label>
          {{ form.bio }}
        <div>
        <div class="portrait">
            {{ form.portrait.errors }}
            <label for="{{ form.portrait.id_for_label }}">Portret:</label>
            {{ form.portrait }}
          <div>
            <ul>
            {% for field in form %}
              <li>{{ field.name }}: {{ field.value }}</li>
            {% endfor %}
            </ul>
        </div>
{% else %}
        {{ form.as_p }}
{% endif %}
        <input type="submit" value="Opslaan"> <a href="{% if person %}{% url 'archive:person' person.id person.slug|default:'details' %}{% else %}{% url 'archive:people' %}{% endif %}">Terug naar {{ person.full_name|default:'overzicht' }} zonder opslaan</a>
      </form>
    </div>
    <div class="clearfix"></div>
  {% else %}
    {% include 'archive/inline_insufficient_rights.html' %}
  {% endif %}
{% endblock %}