{% extends "index.html" %}

{% block pagetitle %}{{ person.full_name|default:'-' }}{% endblock %}

{% block css %}{% endblock %}

{% block content %}
  {% if perms.archive.update_tag %}
    <div class="node">
      <form  method="post" class="tag-edit">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Opslaan"> <a href="{% if tag %}{% url 'archive:tag' tag.id tag.slug|default:'details' %}{% else %}{% url 'archive:tags' %}{% endif %}">Terug naar {{ tag.title|default:'overzicht' }} zonder opslaan</a>
      </form>
    </div>
    <div class="clearfix"></div>
  {% else %}
    {% include 'archive/inline_insufficient_rights.html' %}
  {% endif %}
{% endblock %}