{% if categories|length > 1 %}- 
  {% translate 'filter by'|capfirst %} {% translate 'category' %}: 
  {% for category in categories %}
    {% if category %}
      {% if category == current_category %}
        {{ category|default:''|title }}
      {% else %}
        <a href="{% url 'archive:images' %}{% update_query_params request add=category to='category' %}"{% if category == current_category %} disabled{% endif %}>{{ category|title }}</a>
      {% endif %}
      {% if not forloop.last %} | {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}